/* jersey-10-charted-latin-ext-400-normal */
@font-face {
  font-family: 'Jersey 10 Charted';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/jersey-10-charted-latin-ext-400-normal.woff2) format('woff2'), url(./files/jersey-10-charted-latin-ext-400-normal.woff) format('woff');
}