/* ubuntu-sans-mono-cyrillic-500-normal */
@font-face {
  font-family: 'Ubuntu Sans Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/ubuntu-sans-mono-cyrillic-500-normal.woff2) format('woff2'), url(./files/ubuntu-sans-mono-cyrillic-500-normal.woff) format('woff');
}