/* ubuntu-sans-mono-latin-ext-400-italic */
@font-face {
  font-family: 'Ubuntu Sans Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/ubuntu-sans-mono-latin-ext-400-italic.woff2) format('woff2'), url(./files/ubuntu-sans-mono-latin-ext-400-italic.woff) format('woff');
}

/* ubuntu-sans-mono-latin-ext-500-italic */
@font-face {
  font-family: 'Ubuntu Sans Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/ubuntu-sans-mono-latin-ext-500-italic.woff2) format('woff2'), url(./files/ubuntu-sans-mono-latin-ext-500-italic.woff) format('woff');
}

/* ubuntu-sans-mono-latin-ext-600-italic */
@font-face {
  font-family: 'Ubuntu Sans Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/ubuntu-sans-mono-latin-ext-600-italic.woff2) format('woff2'), url(./files/ubuntu-sans-mono-latin-ext-600-italic.woff) format('woff');
}

/* ubuntu-sans-mono-latin-ext-700-italic */
@font-face {
  font-family: 'Ubuntu Sans Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/ubuntu-sans-mono-latin-ext-700-italic.woff2) format('woff2'), url(./files/ubuntu-sans-mono-latin-ext-700-italic.woff) format('woff');
}