/* win95fa-latin-400-normal */
@font-face {
  font-family: 'WIN95FA';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/win95fa-latin-400-normal.woff2) format('woff2'), url(./files/win95fa-latin-400-normal.woff) format('woff');
}