/* kantumruy-pro-latin-100-italic */
@font-face {
  font-family: 'Kantumruy Pro';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 100;
  src: url(./files/kantumruy-pro-latin-100-italic.woff2) format('woff2'), url(./files/kantumruy-pro-latin-100-italic.woff) format('woff');
}

/* kantumruy-pro-latin-200-italic */
@font-face {
  font-family: 'Kantumruy Pro';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 200;
  src: url(./files/kantumruy-pro-latin-200-italic.woff2) format('woff2'), url(./files/kantumruy-pro-latin-200-italic.woff) format('woff');
}

/* kantumruy-pro-latin-300-italic */
@font-face {
  font-family: 'Kantumruy Pro';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 300;
  src: url(./files/kantumruy-pro-latin-300-italic.woff2) format('woff2'), url(./files/kantumruy-pro-latin-300-italic.woff) format('woff');
}

/* kantumruy-pro-latin-400-italic */
@font-face {
  font-family: 'Kantumruy Pro';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 400;
  src: url(./files/kantumruy-pro-latin-400-italic.woff2) format('woff2'), url(./files/kantumruy-pro-latin-400-italic.woff) format('woff');
}

/* kantumruy-pro-latin-500-italic */
@font-face {
  font-family: 'Kantumruy Pro';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 500;
  src: url(./files/kantumruy-pro-latin-500-italic.woff2) format('woff2'), url(./files/kantumruy-pro-latin-500-italic.woff) format('woff');
}

/* kantumruy-pro-latin-600-italic */
@font-face {
  font-family: 'Kantumruy Pro';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 600;
  src: url(./files/kantumruy-pro-latin-600-italic.woff2) format('woff2'), url(./files/kantumruy-pro-latin-600-italic.woff) format('woff');
}

/* kantumruy-pro-latin-700-italic */
@font-face {
  font-family: 'Kantumruy Pro';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 700;
  src: url(./files/kantumruy-pro-latin-700-italic.woff2) format('woff2'), url(./files/kantumruy-pro-latin-700-italic.woff) format('woff');
}