/* playwrite-fr-moderne-latin-100-normal */
@font-face {
  font-family: 'Playwrite FR Moderne';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(./files/playwrite-fr-moderne-latin-100-normal.woff2) format('woff2'), url(./files/playwrite-fr-moderne-latin-100-normal.woff) format('woff');
}