/* geist-cyrillic-800-normal */
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(./files/geist-cyrillic-800-normal.woff2) format('woff2'), url(./files/geist-cyrillic-800-normal.woff) format('woff');
}