/* geist-latin-ext-200-normal */
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(./files/geist-latin-ext-200-normal.woff2) format('woff2'), url(./files/geist-latin-ext-200-normal.woff) format('woff');
}