/* science-gothic-cyrillic-ext-100-normal */
@font-face {
  font-family: 'Science Gothic';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(./files/science-gothic-cyrillic-ext-100-normal.woff2) format('woff2'), url(./files/science-gothic-cyrillic-ext-100-normal.woff) format('woff');
}