/* science-gothic-latin-ext-700-normal */
@font-face {
  font-family: 'Science Gothic';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/science-gothic-latin-ext-700-normal.woff2) format('woff2'), url(./files/science-gothic-latin-ext-700-normal.woff) format('woff');
}