/* science-gothic-vietnamese-600-normal */
@font-face {
  font-family: 'Science Gothic';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/science-gothic-vietnamese-600-normal.woff2) format('woff2'), url(./files/science-gothic-vietnamese-600-normal.woff) format('woff');
}