$metadata: (
  id: 'commit-mono',
  family: 'Commit Mono',
  category: monospace,
  subsets: (latin),
  weights: (200, 300, 400, 500, 600, 700),
  styles: (normal, italic),
  axes: null,
  defaults: (
    subset: latin,
    weight: 400,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;