@font-face {
  font-family: 'Cascadia Code';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/cascadia-code-symbols2-500-normal.woff2) format(woff2), url(./files/cascadia-code-symbols2-500-normal.woff) format(woff);
  unicode-range: U+2000-2001,U+2004-2008,U+200A,U+23B8-23BD,U+2500-259F;
}