/* instrument-sans-latin-400-italic */
@font-face {
  font-family: 'Instrument Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/instrument-sans-latin-400-italic.woff2) format('woff2'), url(./files/instrument-sans-latin-400-italic.woff) format('woff');
}

/* instrument-sans-latin-500-italic */
@font-face {
  font-family: 'Instrument Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/instrument-sans-latin-500-italic.woff2) format('woff2'), url(./files/instrument-sans-latin-500-italic.woff) format('woff');
}

/* instrument-sans-latin-600-italic */
@font-face {
  font-family: 'Instrument Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/instrument-sans-latin-600-italic.woff2) format('woff2'), url(./files/instrument-sans-latin-600-italic.woff) format('woff');
}

/* instrument-sans-latin-700-italic */
@font-face {
  font-family: 'Instrument Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/instrument-sans-latin-700-italic.woff2) format('woff2'), url(./files/instrument-sans-latin-700-italic.woff) format('woff');
}