$metadata: (
  id: 'dseg7-segg-chan-mini',
  family: 'DSEG7 SEGG CHAN Mini',
  category: other,
  subsets: (latin),
  weights: (400),
  styles: (normal),
  axes: null,
  defaults: (
    subset: latin,
    weight: 400,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;