/* dai-banna-sil-latin-600-normal */
@font-face {
  font-family: 'Dai Banna SIL';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/dai-banna-sil-latin-600-normal.woff2) format('woff2'), url(./files/dai-banna-sil-latin-600-normal.woff) format('woff');
}