/* phetsarath-lao-400-normal */
@font-face {
  font-family: 'Phetsarath';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/phetsarath-lao-400-normal.woff2) format('woff2'), url(./files/phetsarath-lao-400-normal.woff) format('woff');
}

/* phetsarath-lao-700-normal */
@font-face {
  font-family: 'Phetsarath';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/phetsarath-lao-700-normal.woff2) format('woff2'), url(./files/phetsarath-lao-700-normal.woff) format('woff');
}