@font-face {
  font-family: 'Genos';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/genos-cherokee-500-italic.woff2) format(woff2), url(./files/genos-cherokee-500-italic.woff) format(woff);
  unicode-range: U+0300-0302,U+0304,U+030B-030C,U+0323-0324,U+0330-0331,U+13A0-13FF,U+AB70-ABBF;
}