@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/krub-thai-300-italic.woff2) format(woff2), url(./files/krub-thai-300-italic.woff) format(woff);
  unicode-range: U+02D7,U+0303,U+0331,U+0E01-0E5B,U+200C-200D,U+25CC;
}