@font-face {
  font-family: 'Noto Serif Hebrew';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(./files/noto-serif-hebrew-hebrew-900-normal.woff2) format(woff2), url(./files/noto-serif-hebrew-hebrew-900-normal.woff) format(woff);
  unicode-range: U+0307-0308,U+0590-05FF,U+200C-2010,U+20AA,U+25CC,U+FB1D-FB4F;
}