@font-face {
  font-family: 'Wix Madefor Text';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/wix-madefor-text-latin-ext-400-italic.woff2) format(woff2), url(./files/wix-madefor-text-latin-ext-400-italic.woff) format(woff);
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
  font-family: 'Wix Madefor Text';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/wix-madefor-text-latin-ext-500-italic.woff2) format(woff2), url(./files/wix-madefor-text-latin-ext-500-italic.woff) format(woff);
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
  font-family: 'Wix Madefor Text';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/wix-madefor-text-latin-ext-600-italic.woff2) format(woff2), url(./files/wix-madefor-text-latin-ext-600-italic.woff) format(woff);
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
  font-family: 'Wix Madefor Text';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/wix-madefor-text-latin-ext-700-italic.woff2) format(woff2), url(./files/wix-madefor-text-latin-ext-700-italic.woff) format(woff);
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

@font-face {
  font-family: 'Wix Madefor Text';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url(./files/wix-madefor-text-latin-ext-800-italic.woff2) format(woff2), url(./files/wix-madefor-text-latin-ext-800-italic.woff) format(woff);
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}