/* line-seed-jp-latin-ext-100-normal */
@font-face {
  font-family: 'LINE Seed JP';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(./files/line-seed-jp-latin-ext-100-normal.woff2) format('woff2'), url(./files/line-seed-jp-latin-ext-100-normal.woff) format('woff');
}

/* line-seed-jp-latin-ext-400-normal */
@font-face {
  font-family: 'LINE Seed JP';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/line-seed-jp-latin-ext-400-normal.woff2) format('woff2'), url(./files/line-seed-jp-latin-ext-400-normal.woff) format('woff');
}

/* line-seed-jp-latin-ext-700-normal */
@font-face {
  font-family: 'LINE Seed JP';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/line-seed-jp-latin-ext-700-normal.woff2) format('woff2'), url(./files/line-seed-jp-latin-ext-700-normal.woff) format('woff');
}

/* line-seed-jp-latin-ext-800-normal */
@font-face {
  font-family: 'LINE Seed JP';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(./files/line-seed-jp-latin-ext-800-normal.woff2) format('woff2'), url(./files/line-seed-jp-latin-ext-800-normal.woff) format('woff');
}