/* bj-cree-canadian-aboriginal-600-normal */
@font-face {
  font-family: 'BJ Cree';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/bj-cree-canadian-aboriginal-600-normal.woff2) format('woff2'), url(./files/bj-cree-canadian-aboriginal-600-normal.woff) format('woff');
}