/* ruwudu-latin-ext-400-normal */
@font-face {
  font-family: 'Ruwudu';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/ruwudu-latin-ext-400-normal.woff2) format('woff2'), url(./files/ruwudu-latin-ext-400-normal.woff) format('woff');
}