@font-face {
  font-family: 'Baloo Da 2';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/baloo-da-2-bengali-600-normal.woff2) format(woff2), url(./files/baloo-da-2-bengali-600-normal.woff) format(woff);
  unicode-range: U+0951-0952,U+0964-0965,U+0980-09FE,U+1CD0,U+1CD2,U+1CD5-1CD6,U+1CD8,U+1CE1,U+1CEA,U+1CED,U+1CF2,U+1CF5-1CF7,U+200C-200D,U+20B9,U+25CC,U+A8F1;
}