@font-face {
  font-family: 'Noto Sans Vithkuqi';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-sans-vithkuqi-vithkuqi-400-normal.woff2) format(woff2), url(./files/noto-sans-vithkuqi-vithkuqi-400-normal.woff) format(woff);
  unicode-range: U+10570-1057A,U+1057C-1058A,U+1058C-10592,U+10594-10595,U+10597-105A1,U+105A3-105B1,U+105B3-105B9,U+105BB-105BC;
}