/* playwrite-gb-j-latin-100-italic */
@font-face {
  font-family: 'Playwrite GB J';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: url(./files/playwrite-gb-j-latin-100-italic.woff2) format('woff2'), url(./files/playwrite-gb-j-latin-100-italic.woff) format('woff');
}

/* playwrite-gb-j-latin-200-italic */
@font-face {
  font-family: 'Playwrite GB J';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url(./files/playwrite-gb-j-latin-200-italic.woff2) format('woff2'), url(./files/playwrite-gb-j-latin-200-italic.woff) format('woff');
}

/* playwrite-gb-j-latin-300-italic */
@font-face {
  font-family: 'Playwrite GB J';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/playwrite-gb-j-latin-300-italic.woff2) format('woff2'), url(./files/playwrite-gb-j-latin-300-italic.woff) format('woff');
}

/* playwrite-gb-j-latin-400-italic */
@font-face {
  font-family: 'Playwrite GB J';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/playwrite-gb-j-latin-400-italic.woff2) format('woff2'), url(./files/playwrite-gb-j-latin-400-italic.woff) format('woff');
}