/* lisu-bosa-latin-500-normal */
@font-face {
  font-family: 'Lisu Bosa';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/lisu-bosa-latin-500-normal.woff2) format('woff2'), url(./files/lisu-bosa-latin-500-normal.woff) format('woff');
}