/* lisu-bosa-latin-600-italic */
@font-face {
  font-family: 'Lisu Bosa';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/lisu-bosa-latin-600-italic.woff2) format('woff2'), url(./files/lisu-bosa-latin-600-italic.woff) format('woff');
}