/* lisu-bosa-lisu-900-normal */
@font-face {
  font-family: 'Lisu Bosa';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(./files/lisu-bosa-lisu-900-normal.woff2) format('woff2'), url(./files/lisu-bosa-lisu-900-normal.woff) format('woff');
}