/* exo-2-vietnamese-100-italic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 100;
  src: url(./files/exo-2-vietnamese-100-italic.woff2) format('woff2'), url(./files/exo-2-vietnamese-100-italic.woff) format('woff');
}

/* exo-2-vietnamese-200-italic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 200;
  src: url(./files/exo-2-vietnamese-200-italic.woff2) format('woff2'), url(./files/exo-2-vietnamese-200-italic.woff) format('woff');
}

/* exo-2-vietnamese-300-italic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 300;
  src: url(./files/exo-2-vietnamese-300-italic.woff2) format('woff2'), url(./files/exo-2-vietnamese-300-italic.woff) format('woff');
}

/* exo-2-vietnamese-400-italic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 400;
  src: url(./files/exo-2-vietnamese-400-italic.woff2) format('woff2'), url(./files/exo-2-vietnamese-400-italic.woff) format('woff');
}

/* exo-2-vietnamese-500-italic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 500;
  src: url(./files/exo-2-vietnamese-500-italic.woff2) format('woff2'), url(./files/exo-2-vietnamese-500-italic.woff) format('woff');
}

/* exo-2-vietnamese-600-italic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 600;
  src: url(./files/exo-2-vietnamese-600-italic.woff2) format('woff2'), url(./files/exo-2-vietnamese-600-italic.woff) format('woff');
}

/* exo-2-vietnamese-700-italic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 700;
  src: url(./files/exo-2-vietnamese-700-italic.woff2) format('woff2'), url(./files/exo-2-vietnamese-700-italic.woff) format('woff');
}

/* exo-2-vietnamese-800-italic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 800;
  src: url(./files/exo-2-vietnamese-800-italic.woff2) format('woff2'), url(./files/exo-2-vietnamese-800-italic.woff) format('woff');
}

/* exo-2-vietnamese-900-italic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 900;
  src: url(./files/exo-2-vietnamese-900-italic.woff2) format('woff2'), url(./files/exo-2-vietnamese-900-italic.woff) format('woff');
}