/* playwrite-ie-fallback-wght-normal */
@font-face {
  font-family: 'Playwrite IE Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 400;
  src: url(./files/playwrite-ie-fallback-wght-normal.woff2) format('woff2-variations');
}