/* source-sans-pro-cyrillic-200-italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url(./files/source-sans-pro-cyrillic-200-italic.woff2) format('woff2'), url(./files/source-sans-pro-cyrillic-200-italic.woff) format('woff');
}

/* source-sans-pro-cyrillic-300-italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/source-sans-pro-cyrillic-300-italic.woff2) format('woff2'), url(./files/source-sans-pro-cyrillic-300-italic.woff) format('woff');
}

/* source-sans-pro-cyrillic-400-italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/source-sans-pro-cyrillic-400-italic.woff2) format('woff2'), url(./files/source-sans-pro-cyrillic-400-italic.woff) format('woff');
}

/* source-sans-pro-cyrillic-600-italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/source-sans-pro-cyrillic-600-italic.woff2) format('woff2'), url(./files/source-sans-pro-cyrillic-600-italic.woff) format('woff');
}

/* source-sans-pro-cyrillic-700-italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/source-sans-pro-cyrillic-700-italic.woff2) format('woff2'), url(./files/source-sans-pro-cyrillic-700-italic.woff) format('woff');
}

/* source-sans-pro-cyrillic-900-italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url(./files/source-sans-pro-cyrillic-900-italic.woff2) format('woff2'), url(./files/source-sans-pro-cyrillic-900-italic.woff) format('woff');
}