@font-face {
  font-family: 'Noto Sans Carian';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-sans-carian-carian-400-normal.woff2) format(woff2), url(./files/noto-sans-carian-carian-400-normal.woff) format(woff);
  unicode-range: U+205A,U+205D,U+2E31,U+102A0-102D0;
}