/* playwrite-es-deco-latin-400-normal */
@font-face {
  font-family: 'Playwrite ES Deco';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/playwrite-es-deco-latin-400-normal.woff2) format('woff2'), url(./files/playwrite-es-deco-latin-400-normal.woff) format('woff');
}