/* golos-text-cyrillic-800-normal */
@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 800;
  src: url(./files/golos-text-cyrillic-800-normal.woff2) format('woff2'), url(./files/golos-text-cyrillic-800-normal.woff) format('woff');
}