@font-face {
  font-family: 'Thasadith';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/thasadith-latin-ext-700-italic.woff2) format(woff2), url(./files/thasadith-latin-ext-700-italic.woff) format(woff);
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}