/* jacquard-24-charted-latin-ext-400-normal */
@font-face {
  font-family: 'Jacquard 24 Charted';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/jacquard-24-charted-latin-ext-400-normal.woff2) format('woff2'), url(./files/jacquard-24-charted-latin-ext-400-normal.woff) format('woff');
}