/* sansation-greek-300-italic */
@font-face {
  font-family: 'Sansation';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/sansation-greek-300-italic.woff2) format('woff2'), url(./files/sansation-greek-300-italic.woff) format('woff');
}

/* sansation-greek-400-italic */
@font-face {
  font-family: 'Sansation';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/sansation-greek-400-italic.woff2) format('woff2'), url(./files/sansation-greek-400-italic.woff) format('woff');
}

/* sansation-greek-700-italic */
@font-face {
  font-family: 'Sansation';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/sansation-greek-700-italic.woff2) format('woff2'), url(./files/sansation-greek-700-italic.woff) format('woff');
}