/* noto-sans-chorasmian-latin-ext-400-normal */
@font-face {
  font-family: 'Noto Sans Chorasmian';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-sans-chorasmian-latin-ext-400-normal.woff2) format('woff2'), url(./files/noto-sans-chorasmian-latin-ext-400-normal.woff) format('woff');
}