$metadata: (
  id: 'redaction-20',
  family: 'Redaction 20',
  category: serif,
  subsets: (latin),
  weights: (400, 700),
  styles: (normal, italic),
  axes: null,
  defaults: (
    subset: latin,
    weight: 400,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;