$metadata: (
  id: 'fusion-pixel-8px-monospaced-sc',
  family: 'Fusion Pixel 8px Monospaced SC',
  category: sans-serif,
  subsets: (latin),
  weights: (400),
  styles: (normal),
  axes: null,
  defaults: (
    subset: latin,
    weight: 400,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;