/* noto-sans-ethiopic-ethiopic-100-normal */
@font-face {
  font-family: 'Noto Sans Ethiopic';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(./files/noto-sans-ethiopic-ethiopic-100-normal.woff2) format('woff2'), url(./files/noto-sans-ethiopic-ethiopic-100-normal.woff) format('woff');
  unicode-range: U+1200-1399,U+2D80-2DDE,U+AB01-AB2E,U+1E7E0-1E7E6,U+1E7E8-1E7EB,U+1E7ED-1E7EE,U+1E7F0-1E7FE;
}

/* noto-sans-ethiopic-latin-ext-100-normal */
@font-face {
  font-family: 'Noto Sans Ethiopic';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(./files/noto-sans-ethiopic-latin-ext-100-normal.woff2) format('woff2'), url(./files/noto-sans-ethiopic-latin-ext-100-normal.woff) format('woff');
  unicode-range: U+0100-02AF,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* noto-sans-ethiopic-latin-100-normal */
@font-face {
  font-family: 'Noto Sans Ethiopic';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(./files/noto-sans-ethiopic-latin-100-normal.woff2) format('woff2'), url(./files/noto-sans-ethiopic-latin-100-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}