@font-face {
  font-family: 'Noto Sans Ethiopic';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/noto-sans-ethiopic-ethiopic-600-normal.woff2) format(woff2), url(./files/noto-sans-ethiopic-ethiopic-600-normal.woff) format(woff);
  unicode-range: U+030E,U+1200-1399,U+2D80-2DDE,U+AB01-AB2E,U+1E7E0-1E7E6,U+1E7E8-1E7EB,U+1E7ED-1E7EE,U+1E7F0-1E7FE;
}