/* stack-sans-headline-latin-200-normal */
@font-face {
  font-family: 'Stack Sans Headline';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(./files/stack-sans-headline-latin-200-normal.woff2) format('woff2'), url(./files/stack-sans-headline-latin-200-normal.woff) format('woff');
}

/* stack-sans-headline-latin-300-normal */
@font-face {
  font-family: 'Stack Sans Headline';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./files/stack-sans-headline-latin-300-normal.woff2) format('woff2'), url(./files/stack-sans-headline-latin-300-normal.woff) format('woff');
}

/* stack-sans-headline-latin-400-normal */
@font-face {
  font-family: 'Stack Sans Headline';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/stack-sans-headline-latin-400-normal.woff2) format('woff2'), url(./files/stack-sans-headline-latin-400-normal.woff) format('woff');
}

/* stack-sans-headline-latin-500-normal */
@font-face {
  font-family: 'Stack Sans Headline';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/stack-sans-headline-latin-500-normal.woff2) format('woff2'), url(./files/stack-sans-headline-latin-500-normal.woff) format('woff');
}

/* stack-sans-headline-latin-600-normal */
@font-face {
  font-family: 'Stack Sans Headline';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/stack-sans-headline-latin-600-normal.woff2) format('woff2'), url(./files/stack-sans-headline-latin-600-normal.woff) format('woff');
}

/* stack-sans-headline-latin-700-normal */
@font-face {
  font-family: 'Stack Sans Headline';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/stack-sans-headline-latin-700-normal.woff2) format('woff2'), url(./files/stack-sans-headline-latin-700-normal.woff) format('woff');
}