/* stack-sans-headline-latin-ext-700-normal */
@font-face {
  font-family: 'Stack Sans Headline';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/stack-sans-headline-latin-ext-700-normal.woff2) format('woff2'), url(./files/stack-sans-headline-latin-ext-700-normal.woff) format('woff');
}