/* stack-sans-headline-latin-600-normal */
@font-face {
  font-family: 'Stack Sans Headline';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/stack-sans-headline-latin-600-normal.woff2) format('woff2'), url(./files/stack-sans-headline-latin-600-normal.woff) format('woff');
}