/* redacted-script-latin-400-normal */
@font-face {
  font-family: 'Redacted Script';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 400;
  src: url(./files/redacted-script-latin-400-normal.woff2) format('woff2'), url(./files/redacted-script-latin-400-normal.woff) format('woff');
}