$id: 'fusion-pixel-10px-proportional-tc' !default;
$family: 'Fusion Pixel 10px Proportional TC' !default;
$category: sans-serif !default;
$subsets: (latin) !default;
$weights: (400) !default;
$styles: (normal) !default;
$axes: null !default;
$defaults: (
  subset: latin,
  weight: 400,
  style: normal,
  axis: null,
) !default;
$unicode: null !default;
