/* alien-block-latin-400-normal */
@font-face {
  font-family: 'Alien Block';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/alien-block-latin-400-normal.woff2) format('woff2'), url(./files/alien-block-latin-400-normal.woff) format('woff');
}