/* workbench-math-400-normal */
@font-face {
  font-family: 'Workbench';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/workbench-math-400-normal.woff2) format('woff2'), url(./files/workbench-math-400-normal.woff) format('woff');
}