$metadata: (
  id: 'yakuhanmps',
  family: 'YakuHanMPs',
  category: other,
  subsets: (latin),
  weights: (100, 200, 300, 400, 500, 700, 900),
  styles: (normal),
  axes: null,
  defaults: (
    subset: latin,
    weight: 400,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;