/* playwrite-it-moderna-latin-300-normal */
@font-face {
  font-family: 'Playwrite IT Moderna';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./files/playwrite-it-moderna-latin-300-normal.woff2) format('woff2'), url(./files/playwrite-it-moderna-latin-300-normal.woff) format('woff');
}