/* bitcount-prop-double-ink-latin-300-normal */
@font-face {
  font-family: 'Bitcount Prop Double Ink';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./files/bitcount-prop-double-ink-latin-300-normal.woff2) format('woff2'), url(./files/bitcount-prop-double-ink-latin-300-normal.woff) format('woff');
}