/* wittgenstein-latin-ext-900-italic */
@font-face {
  font-family: 'Wittgenstein';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url(./files/wittgenstein-latin-ext-900-italic.woff2) format('woff2'), url(./files/wittgenstein-latin-ext-900-italic.woff) format('woff');
}