/* roboto-latin-200-normal */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(./files/roboto-latin-200-normal.woff2) format('woff2'), url(./files/roboto-latin-200-normal.woff) format('woff');
}