/* roboto-latin-200-italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url(./files/roboto-latin-200-italic.woff2) format('woff2'), url(./files/roboto-latin-200-italic.woff) format('woff');
}