/* elms-sans-latin-ext-600-italic */
@font-face {
  font-family: 'Elms Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/elms-sans-latin-ext-600-italic.woff2) format('woff2'), url(./files/elms-sans-latin-ext-600-italic.woff) format('woff');
}