/* elms-sans-vietnamese-400-normal */
@font-face {
  font-family: 'Elms Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/elms-sans-vietnamese-400-normal.woff2) format('woff2'), url(./files/elms-sans-vietnamese-400-normal.woff) format('woff');
}