@font-face {
  font-family: 'Google Sans Code';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/google-sans-code-adlam-300-italic.woff2) format(woff2), url(./files/google-sans-code-adlam-300-italic.woff) format(woff);
  unicode-range: U+061F,U+0640,U+2015,U+201B,U+2020-2021,U+2030,U+204F,U+25CC,U+2E28-2E29,U+2E41,U+1E900-1E95F;
}