/* playwrite-is-latin-200-normal */
@font-face {
  font-family: 'Playwrite IS';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(./files/playwrite-is-latin-200-normal.woff2) format('woff2'), url(./files/playwrite-is-latin-200-normal.woff) format('woff');
}