$id: 'yakuhanjps' !default;
$family: 'YakuHanJPs' !default;
$category: other !default;
$subsets: (latin) !default;
$weights: (100, 200, 300, 400, 500, 700, 900) !default;
$styles: (normal) !default;
$axes: null !default;
$defaults: (
  subset: latin,
  weight: 400,
  style: normal,
  axis: null,
) !default;
$unicode: null !default;
