/* wavefont-fallback-rond-normal */
@font-face {
  font-family: 'Wavefont Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 4 1000;
  src: url(./files/wavefont-fallback-rond-normal.woff2) format('woff2-variations');
}