/* saira-stencil-vietnamese-900-normal */
@font-face {
  font-family: 'Saira Stencil';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(./files/saira-stencil-vietnamese-900-normal.woff2) format('woff2'), url(./files/saira-stencil-vietnamese-900-normal.woff) format('woff');
}