@font-face {
  font-family: 'Playpen Sans Thai';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/playpen-sans-thai-thai-500-normal.woff2) format(woff2), url(./files/playpen-sans-thai-thai-500-normal.woff) format(woff);
  unicode-range: U+02D7,U+0303,U+0331,U+0E01-0E5B,U+200C-200D,U+25CC;
}