@font-face {
  font-family: 'Google Sans Flex';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(./files/google-sans-flex-nushu-200-normal.woff2) format(woff2), url(./files/google-sans-flex-nushu-200-normal.woff) format(woff);
  unicode-range: U+2003,U+3000,U+3002,U+4E00,U+FE12,U+16FE1,U+1B170-1B2FB;
}