/* epunda-slab-latin-300-normal */
@font-face {
  font-family: 'Epunda Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./files/epunda-slab-latin-300-normal.woff2) format('woff2'), url(./files/epunda-slab-latin-300-normal.woff) format('woff');
}