@font-face {
  font-family: 'Kedebideri';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/kedebideri-beria-erfe-400-normal.woff2) format(woff2), url(./files/kedebideri-beria-erfe-400-normal.woff) format(woff);
  unicode-range: U+0301,U+16EA0-16EB8,U+16EBB-16ED3;
}