@font-face {
  font-family: 'Rubik Dirt';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/rubik-dirt-hebrew-400-normal.woff2) format(woff2), url(./files/rubik-dirt-hebrew-400-normal.woff) format(woff);
  unicode-range: U+0307-0308,U+0590-05FF,U+200C-2010,U+20AA,U+25CC,U+FB1D-FB4F;
}