/* beiruti-arabic-500-normal */
@font-face {
  font-family: 'Beiruti';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/beiruti-arabic-500-normal.woff2) format('woff2'), url(./files/beiruti-arabic-500-normal.woff) format('woff');
}