$id: 'national-park' !default;
$family: 'National Park' !default;
$category: sans-serif !default;
$subsets: (latin) !default;
$weights: (200, 300, 400, 500, 600, 700, 800) !default;
$styles: (normal) !default;
$axes: null !default;
$defaults: (
  subset: latin,
  weight: 400,
  style: normal,
  axis: null,
) !default;
$unicode: null !default;
