/* intel-one-mono-latin-ext-500-normal */
@font-face {
  font-family: 'Intel One Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/intel-one-mono-latin-ext-500-normal.woff2) format('woff2'), url(./files/intel-one-mono-latin-ext-500-normal.woff) format('woff');
}