@font-face {
  font-family: 'Jost';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url(./files/jost-cyrillic-800-italic.woff2) format(woff2), url(./files/jost-cyrillic-800-italic.woff) format(woff);
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}