/* handjet-arabic-700-normal */
@font-face {
  font-family: 'Handjet';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/handjet-arabic-700-normal.woff2) format('woff2'), url(./files/handjet-arabic-700-normal.woff) format('woff');
  unicode-range: U+0600-06FF,U+0750-077F,U+0870-088E,U+0890-0891,U+0898-08E1,U+08E3-08FF,U+200C-200E,U+2010-2011,U+204F,U+2E41,U+FB50-FDFF,U+FE70-FE74,U+FE76-FEFC;
}

/* handjet-armenian-700-normal */
@font-face {
  font-family: 'Handjet';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/handjet-armenian-700-normal.woff2) format('woff2'), url(./files/handjet-armenian-700-normal.woff) format('woff');
  unicode-range: U+0308,U+0530-058F,U+2010,U+2024,U+25CC,U+FB13-FB17;
}

/* handjet-cyrillic-ext-700-normal */
@font-face {
  font-family: 'Handjet';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/handjet-cyrillic-ext-700-normal.woff2) format('woff2'), url(./files/handjet-cyrillic-ext-700-normal.woff) format('woff');
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}

/* handjet-cyrillic-700-normal */
@font-face {
  font-family: 'Handjet';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/handjet-cyrillic-700-normal.woff2) format('woff2'), url(./files/handjet-cyrillic-700-normal.woff) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

/* handjet-greek-700-normal */
@font-face {
  font-family: 'Handjet';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/handjet-greek-700-normal.woff2) format('woff2'), url(./files/handjet-greek-700-normal.woff) format('woff');
  unicode-range: U+0370-03FF;
}

/* handjet-hebrew-700-normal */
@font-face {
  font-family: 'Handjet';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/handjet-hebrew-700-normal.woff2) format('woff2'), url(./files/handjet-hebrew-700-normal.woff) format('woff');
  unicode-range: U+0590-05FF,U+200C-2010,U+20AA,U+25CC,U+FB1D-FB4F;
}

/* handjet-vietnamese-700-normal */
@font-face {
  font-family: 'Handjet';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/handjet-vietnamese-700-normal.woff2) format('woff2'), url(./files/handjet-vietnamese-700-normal.woff) format('woff');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
}

/* handjet-latin-ext-700-normal */
@font-face {
  font-family: 'Handjet';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/handjet-latin-ext-700-normal.woff2) format('woff2'), url(./files/handjet-latin-ext-700-normal.woff) format('woff');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* handjet-latin-700-normal */
@font-face {
  font-family: 'Handjet';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/handjet-latin-700-normal.woff2) format('woff2'), url(./files/handjet-latin-700-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}