/* momo-trust-sans-latin-500-normal */
@font-face {
  font-family: 'Momo Trust Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/momo-trust-sans-latin-500-normal.woff2) format('woff2'), url(./files/momo-trust-sans-latin-500-normal.woff) format('woff');
}