@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/open-sans-hebrew-300-italic.woff2) format(woff2), url(./files/open-sans-hebrew-300-italic.woff) format(woff);
  unicode-range: U+0307-0308,U+0590-05FF,U+200C-2010,U+20AA,U+25CC,U+FB1D-FB4F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/open-sans-hebrew-400-italic.woff2) format(woff2), url(./files/open-sans-hebrew-400-italic.woff) format(woff);
  unicode-range: U+0307-0308,U+0590-05FF,U+200C-2010,U+20AA,U+25CC,U+FB1D-FB4F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/open-sans-hebrew-500-italic.woff2) format(woff2), url(./files/open-sans-hebrew-500-italic.woff) format(woff);
  unicode-range: U+0307-0308,U+0590-05FF,U+200C-2010,U+20AA,U+25CC,U+FB1D-FB4F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/open-sans-hebrew-600-italic.woff2) format(woff2), url(./files/open-sans-hebrew-600-italic.woff) format(woff);
  unicode-range: U+0307-0308,U+0590-05FF,U+200C-2010,U+20AA,U+25CC,U+FB1D-FB4F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/open-sans-hebrew-700-italic.woff2) format(woff2), url(./files/open-sans-hebrew-700-italic.woff) format(woff);
  unicode-range: U+0307-0308,U+0590-05FF,U+200C-2010,U+20AA,U+25CC,U+FB1D-FB4F;
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url(./files/open-sans-hebrew-800-italic.woff2) format(woff2), url(./files/open-sans-hebrew-800-italic.woff) format(woff);
  unicode-range: U+0307-0308,U+0590-05FF,U+200C-2010,U+20AA,U+25CC,U+FB1D-FB4F;
}