@font-face {
  font-family: 'Noto Sans Takri';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-sans-takri-takri-400-normal.woff2) format(woff2), url(./files/noto-sans-takri-takri-400-normal.woff) format(woff);
  unicode-range: U+0964-0965,U+200C-200D,U+25CC,U+A830-A839,U+11680-116CF;
}