$metadata: (
  id: 'ostrich-sans',
  family: 'Ostrich Sans',
  category: sans-serif,
  subsets: (latin),
  weights: (300, 400, 700, 900),
  styles: (normal),
  axes: null,
  defaults: (
    subset: latin,
    weight: 400,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;