@font-face {
  font-family: 'Noto Sans Mahajani';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-sans-mahajani-mahajani-400-normal.woff2) format(woff2), url(./files/noto-sans-mahajani-mahajani-400-normal.woff) format(woff);
  unicode-range: U+0964-096F,U+200C-200D,U+25CC,U+A830-A839,U+11150-11176;
}