/* savate-latin-900-normal */
@font-face {
  font-family: 'Savate';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(./files/savate-latin-900-normal.woff2) format('woff2'), url(./files/savate-latin-900-normal.woff) format('woff');
}