/* lunasima-cyrillic-ext-400-normal */
@font-face {
  font-family: 'Lunasima';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/lunasima-cyrillic-ext-400-normal.woff2) format('woff2'), url(./files/lunasima-cyrillic-ext-400-normal.woff) format('woff');
}