/* lunasima-vietnamese-700-normal */
@font-face {
  font-family: 'Lunasima';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/lunasima-vietnamese-700-normal.woff2) format('woff2'), url(./files/lunasima-vietnamese-700-normal.woff) format('woff');
}