/* pliant-greek-700-italic */
@font-face {
  font-family: 'Pliant';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/pliant-greek-700-italic.woff2) format('woff2'), url(./files/pliant-greek-700-italic.woff) format('woff');
}