/* geist-sans-latin-600-normal */
@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/geist-sans-latin-600-normal.woff2) format('woff2'), url(./files/geist-sans-latin-600-normal.woff) format('woff');
}