/* geist-sans-latin-900-normal */
@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(./files/geist-sans-latin-900-normal.woff2) format('woff2'), url(./files/geist-sans-latin-900-normal.woff) format('woff');
}