@font-face {
  font-family: 'Noto Sans Armenian';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(./files/noto-sans-armenian-armenian-100-normal.woff2) format(woff2), url(./files/noto-sans-armenian-armenian-100-normal.woff) format(woff);
  unicode-range: U+0308,U+0530-058F,U+2010,U+2024,U+25CC,U+FB13-FB17;
}