/* outfit-latin-ext-400-normal */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 400;
  src: url(./files/outfit-latin-ext-400-normal.woff2) format('woff2'), url(./files/outfit-latin-ext-400-normal.woff) format('woff');
}