/* carlito-latin-ext-400-italic */
@font-face {
  font-family: 'Carlito';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 400;
  src: url(./files/carlito-latin-ext-400-italic.woff2) format('woff2'), url(./files/carlito-latin-ext-400-italic.woff) format('woff');
}

/* carlito-latin-ext-700-italic */
@font-face {
  font-family: 'Carlito';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 700;
  src: url(./files/carlito-latin-ext-700-italic.woff2) format('woff2'), url(./files/carlito-latin-ext-700-italic.woff) format('woff');
}