/* newsreader-latin-200-italic */
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url(./files/newsreader-latin-200-italic.woff2) format('woff2'), url(./files/newsreader-latin-200-italic.woff) format('woff');
}

/* newsreader-latin-300-italic */
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/newsreader-latin-300-italic.woff2) format('woff2'), url(./files/newsreader-latin-300-italic.woff) format('woff');
}

/* newsreader-latin-400-italic */
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/newsreader-latin-400-italic.woff2) format('woff2'), url(./files/newsreader-latin-400-italic.woff) format('woff');
}

/* newsreader-latin-500-italic */
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/newsreader-latin-500-italic.woff2) format('woff2'), url(./files/newsreader-latin-500-italic.woff) format('woff');
}

/* newsreader-latin-600-italic */
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/newsreader-latin-600-italic.woff2) format('woff2'), url(./files/newsreader-latin-600-italic.woff) format('woff');
}

/* newsreader-latin-700-italic */
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/newsreader-latin-700-italic.woff2) format('woff2'), url(./files/newsreader-latin-700-italic.woff) format('woff');
}

/* newsreader-latin-800-italic */
@font-face {
  font-family: 'Newsreader';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url(./files/newsreader-latin-800-italic.woff2) format('woff2'), url(./files/newsreader-latin-800-italic.woff) format('woff');
}