/* red-hat-mono-latin-300-italic */
@font-face {
  font-family: 'Red Hat Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/red-hat-mono-latin-300-italic.woff2) format('woff2'), url(./files/red-hat-mono-latin-300-italic.woff) format('woff');
}

/* red-hat-mono-latin-400-italic */
@font-face {
  font-family: 'Red Hat Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/red-hat-mono-latin-400-italic.woff2) format('woff2'), url(./files/red-hat-mono-latin-400-italic.woff) format('woff');
}

/* red-hat-mono-latin-500-italic */
@font-face {
  font-family: 'Red Hat Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/red-hat-mono-latin-500-italic.woff2) format('woff2'), url(./files/red-hat-mono-latin-500-italic.woff) format('woff');
}

/* red-hat-mono-latin-600-italic */
@font-face {
  font-family: 'Red Hat Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/red-hat-mono-latin-600-italic.woff2) format('woff2'), url(./files/red-hat-mono-latin-600-italic.woff) format('woff');
}

/* red-hat-mono-latin-700-italic */
@font-face {
  font-family: 'Red Hat Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/red-hat-mono-latin-700-italic.woff2) format('woff2'), url(./files/red-hat-mono-latin-700-italic.woff) format('woff');
}