/* inter-cyrillic-ext-100-italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: url(./files/inter-cyrillic-ext-100-italic.woff2) format('woff2'), url(./files/inter-cyrillic-ext-100-italic.woff) format('woff');
}

/* inter-cyrillic-ext-200-italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url(./files/inter-cyrillic-ext-200-italic.woff2) format('woff2'), url(./files/inter-cyrillic-ext-200-italic.woff) format('woff');
}

/* inter-cyrillic-ext-300-italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/inter-cyrillic-ext-300-italic.woff2) format('woff2'), url(./files/inter-cyrillic-ext-300-italic.woff) format('woff');
}

/* inter-cyrillic-ext-400-italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/inter-cyrillic-ext-400-italic.woff2) format('woff2'), url(./files/inter-cyrillic-ext-400-italic.woff) format('woff');
}

/* inter-cyrillic-ext-500-italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/inter-cyrillic-ext-500-italic.woff2) format('woff2'), url(./files/inter-cyrillic-ext-500-italic.woff) format('woff');
}

/* inter-cyrillic-ext-600-italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/inter-cyrillic-ext-600-italic.woff2) format('woff2'), url(./files/inter-cyrillic-ext-600-italic.woff) format('woff');
}

/* inter-cyrillic-ext-700-italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/inter-cyrillic-ext-700-italic.woff2) format('woff2'), url(./files/inter-cyrillic-ext-700-italic.woff) format('woff');
}

/* inter-cyrillic-ext-800-italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url(./files/inter-cyrillic-ext-800-italic.woff2) format('woff2'), url(./files/inter-cyrillic-ext-800-italic.woff) format('woff');
}

/* inter-cyrillic-ext-900-italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url(./files/inter-cyrillic-ext-900-italic.woff2) format('woff2'), url(./files/inter-cyrillic-ext-900-italic.woff) format('woff');
}