/* inter-greek-ext-200-italic */
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url(./files/inter-greek-ext-200-italic.woff2) format('woff2'), url(./files/inter-greek-ext-200-italic.woff) format('woff');
}