/* vollkorn-greek-400-italic */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 400;
  src: url(./files/vollkorn-greek-400-italic.woff2) format('woff2'), url(./files/vollkorn-greek-400-italic.woff) format('woff');
}

/* vollkorn-greek-500-italic */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 500;
  src: url(./files/vollkorn-greek-500-italic.woff2) format('woff2'), url(./files/vollkorn-greek-500-italic.woff) format('woff');
}

/* vollkorn-greek-600-italic */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 600;
  src: url(./files/vollkorn-greek-600-italic.woff2) format('woff2'), url(./files/vollkorn-greek-600-italic.woff) format('woff');
}

/* vollkorn-greek-700-italic */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 700;
  src: url(./files/vollkorn-greek-700-italic.woff2) format('woff2'), url(./files/vollkorn-greek-700-italic.woff) format('woff');
}

/* vollkorn-greek-800-italic */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 800;
  src: url(./files/vollkorn-greek-800-italic.woff2) format('woff2'), url(./files/vollkorn-greek-800-italic.woff) format('woff');
}

/* vollkorn-greek-900-italic */
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 900;
  src: url(./files/vollkorn-greek-900-italic.woff2) format('woff2'), url(./files/vollkorn-greek-900-italic.woff) format('woff');
}