@font-face {
  font-family: 'Suranna';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/suranna-telugu-400-normal.woff2) format(woff2), url(./files/suranna-telugu-400-normal.woff) format(woff);
  unicode-range: U+0951-0952,U+0964-0965,U+0C00-0C7F,U+1CDA,U+1CF2,U+200C-200D,U+25CC;
}