/* cactus-classical-serif-latin-400-normal */
@font-face {
  font-family: 'Cactus Classical Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/cactus-classical-serif-latin-400-normal.woff2) format('woff2'), url(./files/cactus-classical-serif-latin-400-normal.woff) format('woff');
}