/* shrikhand-gujarati-400-normal */
@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/shrikhand-gujarati-400-normal.woff2) format('woff2'), url(./files/shrikhand-gujarati-400-normal.woff) format('woff');
  unicode-range: U+0951-0952,U+0964-0965,U+0A80-0AFF,U+200C-200D,U+20B9,U+25CC,U+A830-A839;
}

/* shrikhand-latin-ext-400-normal */
@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/shrikhand-latin-ext-400-normal.woff2) format('woff2'), url(./files/shrikhand-latin-ext-400-normal.woff) format('woff');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* shrikhand-latin-400-normal */
@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/shrikhand-latin-400-normal.woff2) format('woff2'), url(./files/shrikhand-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}