/* lxgw-wenkai-mono-tc-latin-ext-700-normal */
@font-face {
  font-family: 'LXGW WenKai Mono TC';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/lxgw-wenkai-mono-tc-latin-ext-700-normal.woff2) format('woff2'), url(./files/lxgw-wenkai-mono-tc-latin-ext-700-normal.woff) format('woff');
}