/* lxgw-wenkai-mono-tc-lisu-400-normal */
@font-face {
  font-family: 'LXGW WenKai Mono TC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/lxgw-wenkai-mono-tc-lisu-400-normal.woff2) format('woff2'), url(./files/lxgw-wenkai-mono-tc-lisu-400-normal.woff) format('woff');
}