/* crimson-text-latin-400-italic */
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/crimson-text-latin-400-italic.woff2) format('woff2'), url(./files/crimson-text-latin-400-italic.woff) format('woff');
}

/* crimson-text-latin-600-italic */
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/crimson-text-latin-600-italic.woff2) format('woff2'), url(./files/crimson-text-latin-600-italic.woff) format('woff');
}

/* crimson-text-latin-700-italic */
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/crimson-text-latin-700-italic.woff2) format('woff2'), url(./files/crimson-text-latin-700-italic.woff) format('woff');
}