/* chocolate-classical-sans-chinese-hongkong-400-normal */
@font-face {
  font-family: 'Chocolate Classical Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/chocolate-classical-sans-chinese-hongkong-400-normal.woff2) format('woff2'), url(./files/chocolate-classical-sans-chinese-hongkong-400-normal.woff) format('woff');
}