@font-face {
  font-family: 'Noto Serif Khojki';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-serif-khojki-khojki-400-normal.woff2) format(woff2), url(./files/noto-serif-khojki-khojki-400-normal.woff) format(woff);
  unicode-range: U+0AE6-0AEF,U+200C-200D,U+25CC,U+A830-A839,U+11200-1124F;
}