/* noto-traditional-nushu-nushu-700-normal */
@font-face {
  font-family: 'Noto Traditional Nushu';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/noto-traditional-nushu-nushu-700-normal.woff2) format('woff2'), url(./files/noto-traditional-nushu-nushu-700-normal.woff) format('woff');
  unicode-range: U+2003,U+3000,U+3002,U+4E00,U+FE12,U+16FE1,U+1B170-1B2FB;
}

/* noto-traditional-nushu-latin-ext-700-normal */
@font-face {
  font-family: 'Noto Traditional Nushu';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/noto-traditional-nushu-latin-ext-700-normal.woff2) format('woff2'), url(./files/noto-traditional-nushu-latin-ext-700-normal.woff) format('woff');
  unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* noto-traditional-nushu-latin-700-normal */
@font-face {
  font-family: 'Noto Traditional Nushu';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/noto-traditional-nushu-latin-700-normal.woff2) format('woff2'), url(./files/noto-traditional-nushu-latin-700-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}