@font-face {
  font-family: 'Noto Sans Kawi';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-sans-kawi-kawi-400-normal.woff2) format(woff2), url(./files/noto-sans-kawi-kawi-400-normal.woff) format(woff);
  unicode-range: U+11F00-11F10,U+11F12-11F3A,U+11F3E-11F5A;
}

@font-face {
  font-family: 'Noto Sans Kawi';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/noto-sans-kawi-kawi-500-normal.woff2) format(woff2), url(./files/noto-sans-kawi-kawi-500-normal.woff) format(woff);
  unicode-range: U+11F00-11F10,U+11F12-11F3A,U+11F3E-11F5A;
}

@font-face {
  font-family: 'Noto Sans Kawi';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/noto-sans-kawi-kawi-600-normal.woff2) format(woff2), url(./files/noto-sans-kawi-kawi-600-normal.woff) format(woff);
  unicode-range: U+11F00-11F10,U+11F12-11F3A,U+11F3E-11F5A;
}

@font-face {
  font-family: 'Noto Sans Kawi';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/noto-sans-kawi-kawi-700-normal.woff2) format(woff2), url(./files/noto-sans-kawi-kawi-700-normal.woff) format(woff);
  unicode-range: U+11F00-11F10,U+11F12-11F3A,U+11F3E-11F5A;
}