$metadata: (
  id: 'ia-writer-quattro',
  family: 'iA Writer Quattro',
  category: sans-serif,
  subsets: (latin),
  weights: (400, 700),
  styles: (normal, italic),
  axes: null,
  defaults: (
    subset: latin,
    weight: 400,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;