$metadata: (
  id: 'open-sauce-one',
  family: 'Open Sauce One',
  category: sans-serif,
  subsets: (latin),
  weights: (300, 400, 500, 600, 700, 800, 900),
  styles: (normal, italic),
  axes: null,
  defaults: (
    subset: latin,
    weight: 400,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;