/* bitcount-prop-single-latin-ext-700-normal */
@font-face {
  font-family: 'Bitcount Prop Single';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/bitcount-prop-single-latin-ext-700-normal.woff2) format('woff2'), url(./files/bitcount-prop-single-latin-ext-700-normal.woff) format('woff');
}