@font-face {
  font-family: 'Cardo';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/cardo-gothic-400-italic.woff2) format(woff2), url(./files/cardo-gothic-400-italic.woff) format(woff);
  unicode-range: U+0304-0305,U+0308,U+0331,U+10330-1034A;
}