@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/cardo-gothic-700-normal.woff2) format(woff2), url(./files/cardo-gothic-700-normal.woff) format(woff);
  unicode-range: U+0304-0305,U+0308,U+0331,U+10330-1034A;
}