/* ysabeau-sc-cyrillic-900-normal */
@font-face {
  font-family: 'Ysabeau SC';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(./files/ysabeau-sc-cyrillic-900-normal.woff2) format('woff2'), url(./files/ysabeau-sc-cyrillic-900-normal.woff) format('woff');
}