/* ysabeau-sc-latin-300-normal */
@font-face {
  font-family: 'Ysabeau SC';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./files/ysabeau-sc-latin-300-normal.woff2) format('woff2'), url(./files/ysabeau-sc-latin-300-normal.woff) format('woff');
}