/* tuffy-phoenician-400-italic */
@font-face {
  font-family: 'Tuffy';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/tuffy-phoenician-400-italic.woff2) format('woff2'), url(./files/tuffy-phoenician-400-italic.woff) format('woff');
}