/* noto-sans-syriac-western-latin-ext-500-normal */
@font-face {
  font-family: 'Noto Sans Syriac Western';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/noto-sans-syriac-western-latin-ext-500-normal.woff2) format('woff2'), url(./files/noto-sans-syriac-western-latin-ext-500-normal.woff) format('woff');
}