/* noto-sans-syriac-western-syriac-300-normal */
@font-face {
  font-family: 'Noto Sans Syriac Western';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./files/noto-sans-syriac-western-syriac-300-normal.woff2) format('woff2'), url(./files/noto-sans-syriac-western-syriac-300-normal.woff) format('woff');
}