$metadata: (
  id: 'fusion-pixel-10px-proportional-kr',
  family: 'Fusion Pixel 10px Proportional KR',
  category: sans-serif,
  subsets: (latin),
  weights: (400),
  styles: (normal),
  axes: null,
  defaults: (
    subset: latin,
    weight: 400,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;