/* arimo-greek-400-italic */
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 400;
  src: url(./files/arimo-greek-400-italic.woff2) format('woff2'), url(./files/arimo-greek-400-italic.woff) format('woff');
}

/* arimo-greek-500-italic */
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 500;
  src: url(./files/arimo-greek-500-italic.woff2) format('woff2'), url(./files/arimo-greek-500-italic.woff) format('woff');
}

/* arimo-greek-600-italic */
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 600;
  src: url(./files/arimo-greek-600-italic.woff2) format('woff2'), url(./files/arimo-greek-600-italic.woff) format('woff');
}

/* arimo-greek-700-italic */
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 700;
  src: url(./files/arimo-greek-700-italic.woff2) format('woff2'), url(./files/arimo-greek-700-italic.woff) format('woff');
}