/* protest-riot-latin-ext-400-normal */
@font-face {
  font-family: 'Protest Riot';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/protest-riot-latin-ext-400-normal.woff2) format('woff2'), url(./files/protest-riot-latin-ext-400-normal.woff) format('woff');
}