@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./files/fredoka-hebrew-300-normal.woff2) format(woff2), url(./files/fredoka-hebrew-300-normal.woff) format(woff);
  unicode-range: U+0307-0308,U+0590-05FF,U+200C-2010,U+20AA,U+25CC,U+FB1D-FB4F;
}

@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/fredoka-hebrew-400-normal.woff2) format(woff2), url(./files/fredoka-hebrew-400-normal.woff) format(woff);
  unicode-range: U+0307-0308,U+0590-05FF,U+200C-2010,U+20AA,U+25CC,U+FB1D-FB4F;
}

@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/fredoka-hebrew-500-normal.woff2) format(woff2), url(./files/fredoka-hebrew-500-normal.woff) format(woff);
  unicode-range: U+0307-0308,U+0590-05FF,U+200C-2010,U+20AA,U+25CC,U+FB1D-FB4F;
}

@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/fredoka-hebrew-600-normal.woff2) format(woff2), url(./files/fredoka-hebrew-600-normal.woff) format(woff);
  unicode-range: U+0307-0308,U+0590-05FF,U+200C-2010,U+20AA,U+25CC,U+FB1D-FB4F;
}

@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/fredoka-hebrew-700-normal.woff2) format(woff2), url(./files/fredoka-hebrew-700-normal.woff) format(woff);
  unicode-range: U+0307-0308,U+0590-05FF,U+200C-2010,U+20AA,U+25CC,U+FB1D-FB4F;
}