@font-face {
  font-family: 'Noto Sans Caucasian Albanian';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-sans-caucasian-albanian-caucasian-albanian-400-normal.woff2) format(woff2), url(./files/noto-sans-caucasian-albanian-caucasian-albanian-400-normal.woff) format(woff);
  unicode-range: U+0304,U+0331,U+035E,U+25CC,U+FE20-FE2F,U+10530-1056F;
}