$id: 'monaspace-krypton' !default;
$family: 'Monaspace Krypton' !default;
$category: monospace !default;
$subsets: (latin) !default;
$weights: (200, 300, 400, 500, 600, 700, 800) !default;
$styles: (normal, italic) !default;
$axes: null !default;
$defaults: (
  subset: latin,
  weight: 400,
  style: normal,
  axis: null,
) !default;
$unicode: null !default;
