/* spectral-sc-vietnamese-200-italic */
@font-face {
  font-family: 'Spectral SC';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 200;
  src: url(./files/spectral-sc-vietnamese-200-italic.woff2) format('woff2'), url(./files/spectral-sc-vietnamese-200-italic.woff) format('woff');
}

/* spectral-sc-vietnamese-300-italic */
@font-face {
  font-family: 'Spectral SC';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 300;
  src: url(./files/spectral-sc-vietnamese-300-italic.woff2) format('woff2'), url(./files/spectral-sc-vietnamese-300-italic.woff) format('woff');
}

/* spectral-sc-vietnamese-400-italic */
@font-face {
  font-family: 'Spectral SC';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 400;
  src: url(./files/spectral-sc-vietnamese-400-italic.woff2) format('woff2'), url(./files/spectral-sc-vietnamese-400-italic.woff) format('woff');
}

/* spectral-sc-vietnamese-500-italic */
@font-face {
  font-family: 'Spectral SC';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 500;
  src: url(./files/spectral-sc-vietnamese-500-italic.woff2) format('woff2'), url(./files/spectral-sc-vietnamese-500-italic.woff) format('woff');
}

/* spectral-sc-vietnamese-600-italic */
@font-face {
  font-family: 'Spectral SC';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 600;
  src: url(./files/spectral-sc-vietnamese-600-italic.woff2) format('woff2'), url(./files/spectral-sc-vietnamese-600-italic.woff) format('woff');
}

/* spectral-sc-vietnamese-700-italic */
@font-face {
  font-family: 'Spectral SC';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 700;
  src: url(./files/spectral-sc-vietnamese-700-italic.woff2) format('woff2'), url(./files/spectral-sc-vietnamese-700-italic.woff) format('woff');
}

/* spectral-sc-vietnamese-800-italic */
@font-face {
  font-family: 'Spectral SC';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 800;
  src: url(./files/spectral-sc-vietnamese-800-italic.woff2) format('woff2'), url(./files/spectral-sc-vietnamese-800-italic.woff) format('woff');
}