/* parastoo-arabic-600-normal */
@font-face {
  font-family: 'Parastoo';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/parastoo-arabic-600-normal.woff2) format('woff2'), url(./files/parastoo-arabic-600-normal.woff) format('woff');
}