/* parastoo-arabic-400-normal */
@font-face {
  font-family: 'Parastoo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/parastoo-arabic-400-normal.woff2) format('woff2'), url(./files/parastoo-arabic-400-normal.woff) format('woff');
}

/* parastoo-arabic-500-normal */
@font-face {
  font-family: 'Parastoo';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/parastoo-arabic-500-normal.woff2) format('woff2'), url(./files/parastoo-arabic-500-normal.woff) format('woff');
}

/* parastoo-arabic-600-normal */
@font-face {
  font-family: 'Parastoo';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/parastoo-arabic-600-normal.woff2) format('woff2'), url(./files/parastoo-arabic-600-normal.woff) format('woff');
}

/* parastoo-arabic-700-normal */
@font-face {
  font-family: 'Parastoo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/parastoo-arabic-700-normal.woff2) format('woff2'), url(./files/parastoo-arabic-700-normal.woff) format('woff');
}