@font-face {
  font-family: 'Noto Sans Georgian';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/noto-sans-georgian-georgian-600-normal.woff2) format(woff2), url(./files/noto-sans-georgian-georgian-600-normal.woff) format(woff);
  unicode-range: U+0589,U+10A0-10FF,U+1C90-1CBA,U+1CBD-1CBF,U+205A,U+2D00-2D2F,U+2E31;
}