@font-face {
  font-family: 'Noto Sans Buginese';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-sans-buginese-buginese-400-normal.woff2) format(woff2), url(./files/noto-sans-buginese-buginese-400-normal.woff) format(woff);
  unicode-range: U+1A00-1A1F,U+200C-200D,U+25CC,U+A9CF;
}