/* akatab-tifinagh-400-normal */
@font-face {
  font-family: 'Akatab';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/akatab-tifinagh-400-normal.woff2) format('woff2'), url(./files/akatab-tifinagh-400-normal.woff) format('woff');
}

/* akatab-tifinagh-500-normal */
@font-face {
  font-family: 'Akatab';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/akatab-tifinagh-500-normal.woff2) format('woff2'), url(./files/akatab-tifinagh-500-normal.woff) format('woff');
}

/* akatab-tifinagh-600-normal */
@font-face {
  font-family: 'Akatab';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/akatab-tifinagh-600-normal.woff2) format('woff2'), url(./files/akatab-tifinagh-600-normal.woff) format('woff');
}

/* akatab-tifinagh-700-normal */
@font-face {
  font-family: 'Akatab';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/akatab-tifinagh-700-normal.woff2) format('woff2'), url(./files/akatab-tifinagh-700-normal.woff) format('woff');
}

/* akatab-tifinagh-800-normal */
@font-face {
  font-family: 'Akatab';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(./files/akatab-tifinagh-800-normal.woff2) format('woff2'), url(./files/akatab-tifinagh-800-normal.woff) format('woff');
}

/* akatab-tifinagh-900-normal */
@font-face {
  font-family: 'Akatab';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url(./files/akatab-tifinagh-900-normal.woff2) format('woff2'), url(./files/akatab-tifinagh-900-normal.woff) format('woff');
}