$metadata: (
  id: 'monaspace-neon',
  family: 'Monaspace Neon',
  category: monospace,
  subsets: (latin),
  weights: (200, 300, 400, 500, 600, 700, 800),
  styles: (normal, italic),
  axes: null,
  defaults: (
    subset: latin,
    weight: 400,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;