@font-face {
  font-family: 'Noto Sans Elbasan';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-sans-elbasan-elbasan-400-normal.woff2) format(woff2), url(./files/noto-sans-elbasan-elbasan-400-normal.woff) format(woff);
  unicode-range: U+0305,U+0391-03A1,U+03A3-03A9,U+03DA,U+03DC,U+03DE,U+25CC,U+10500-10527;
}