/* alan-sans-latin-ext-300-normal */
@font-face {
  font-family: 'Alan Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./files/alan-sans-latin-ext-300-normal.woff2) format('woff2'), url(./files/alan-sans-latin-ext-300-normal.woff) format('woff');
}