/* material-symbols-rounded-latin-opsz-normal */
@font-face {
  font-family: 'Material Symbols Rounded Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
  src: url(./files/material-symbols-rounded-latin-opsz-normal.woff2) format('woff2-variations');
}