@font-face {
  font-family: 'Kanchenjunga';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/kanchenjunga-kirat-rai-400-normal.woff2) format(woff2), url(./files/kanchenjunga-kirat-rai-400-normal.woff) format(woff);
  unicode-range: U+16D40-16D79;
}

@font-face {
  font-family: 'Kanchenjunga';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/kanchenjunga-kirat-rai-500-normal.woff2) format(woff2), url(./files/kanchenjunga-kirat-rai-500-normal.woff) format(woff);
  unicode-range: U+16D40-16D79;
}

@font-face {
  font-family: 'Kanchenjunga';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/kanchenjunga-kirat-rai-600-normal.woff2) format(woff2), url(./files/kanchenjunga-kirat-rai-600-normal.woff) format(woff);
  unicode-range: U+16D40-16D79;
}

@font-face {
  font-family: 'Kanchenjunga';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/kanchenjunga-kirat-rai-700-normal.woff2) format(woff2), url(./files/kanchenjunga-kirat-rai-700-normal.woff) format(woff);
  unicode-range: U+16D40-16D79;
}