/* foldit-latin-ext-800-normal */
@font-face {
  font-family: 'Foldit';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 800;
  src: url(./files/foldit-latin-ext-800-normal.woff2) format('woff2'), url(./files/foldit-latin-ext-800-normal.woff) format('woff');
}