/* foldit-vietnamese-200-normal */
@font-face {
  font-family: 'Foldit';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 200;
  src: url(./files/foldit-vietnamese-200-normal.woff2) format('woff2'), url(./files/foldit-vietnamese-200-normal.woff) format('woff');
}