/* cabin-vietnamese-400-italic */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/cabin-vietnamese-400-italic.woff2) format('woff2'), url(./files/cabin-vietnamese-400-italic.woff) format('woff');
}

/* cabin-vietnamese-500-italic */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/cabin-vietnamese-500-italic.woff2) format('woff2'), url(./files/cabin-vietnamese-500-italic.woff) format('woff');
}

/* cabin-vietnamese-600-italic */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/cabin-vietnamese-600-italic.woff2) format('woff2'), url(./files/cabin-vietnamese-600-italic.woff) format('woff');
}

/* cabin-vietnamese-700-italic */
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/cabin-vietnamese-700-italic.woff2) format('woff2'), url(./files/cabin-vietnamese-700-italic.woff) format('woff');
}