/* alumni-sans-sc-cyrillic-400-normal */
@font-face {
  font-family: 'Alumni Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/alumni-sans-sc-cyrillic-400-normal.woff2) format('woff2'), url(./files/alumni-sans-sc-cyrillic-400-normal.woff) format('woff');
}