$metadata: (
  id: 'bluu-next',
  family: 'Bluu Next',
  category: sans-serif,
  subsets: (latin),
  weights: (700),
  styles: (normal, italic),
  axes: null,
  defaults: (
    subset: latin,
    weight: 700,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;