$id: 'bluu-next' !default;
$family: 'Bluu Next' !default;
$category: sans-serif !default;
$subsets: (latin) !default;
$weights: (700) !default;
$styles: (normal, italic) !default;
$axes: null !default;
$defaults: (
  subset: latin,
  weight: 700,
  style: normal,
  axis: null,
) !default;
$unicode: null !default;
