/* arsenal-sc-vietnamese-400-italic */
@font-face {
  font-family: 'Arsenal SC';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/arsenal-sc-vietnamese-400-italic.woff2) format('woff2'), url(./files/arsenal-sc-vietnamese-400-italic.woff) format('woff');
}

/* arsenal-sc-vietnamese-700-italic */
@font-face {
  font-family: 'Arsenal SC';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/arsenal-sc-vietnamese-700-italic.woff2) format('woff2'), url(./files/arsenal-sc-vietnamese-700-italic.woff) format('woff');
}