/* edu-au-vic-wa-nt-guides-latin-500-normal */
@font-face {
  font-family: 'Edu AU VIC WA NT Guides';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/edu-au-vic-wa-nt-guides-latin-500-normal.woff2) format('woff2'), url(./files/edu-au-vic-wa-nt-guides-latin-500-normal.woff) format('woff');
}