/* narnoor-math-700-normal */
@font-face {
  font-family: 'Narnoor';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/narnoor-math-700-normal.woff2) format('woff2'), url(./files/narnoor-math-700-normal.woff) format('woff');
}