/* asta-sans-korean-500-normal */
@font-face {
  font-family: 'Asta Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/asta-sans-korean-500-normal.woff2) format('woff2'), url(./files/asta-sans-korean-500-normal.woff) format('woff');
}