/* noto-serif-cyrillic-ext-500-italic */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/noto-serif-cyrillic-ext-500-italic.woff2) format('woff2'), url(./files/noto-serif-cyrillic-ext-500-italic.woff) format('woff');
}