/* noto-serif-vietnamese-200-normal */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(./files/noto-serif-vietnamese-200-normal.woff2) format('woff2'), url(./files/noto-serif-vietnamese-200-normal.woff) format('woff');
}