/* fusion-pixel-10px-monospaced-jp-latin-400-normal */
@font-face {
  font-family: 'Fusion Pixel 10px Monospaced JP';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/fusion-pixel-10px-monospaced-jp-latin-400-normal.woff2) format('woff2'), url(./files/fusion-pixel-10px-monospaced-jp-latin-400-normal.woff) format('woff');
}
