/* schibsted-grotesk-latin-ext-800-italic */
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url(./files/schibsted-grotesk-latin-ext-800-italic.woff2) format('woff2'), url(./files/schibsted-grotesk-latin-ext-800-italic.woff) format('woff');
}