/* schibsted-grotesk-latin-400-italic */
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/schibsted-grotesk-latin-400-italic.woff2) format('woff2'), url(./files/schibsted-grotesk-latin-400-italic.woff) format('woff');
}

/* schibsted-grotesk-latin-500-italic */
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/schibsted-grotesk-latin-500-italic.woff2) format('woff2'), url(./files/schibsted-grotesk-latin-500-italic.woff) format('woff');
}

/* schibsted-grotesk-latin-600-italic */
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/schibsted-grotesk-latin-600-italic.woff2) format('woff2'), url(./files/schibsted-grotesk-latin-600-italic.woff) format('woff');
}

/* schibsted-grotesk-latin-700-italic */
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/schibsted-grotesk-latin-700-italic.woff2) format('woff2'), url(./files/schibsted-grotesk-latin-700-italic.woff) format('woff');
}

/* schibsted-grotesk-latin-800-italic */
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url(./files/schibsted-grotesk-latin-800-italic.woff2) format('woff2'), url(./files/schibsted-grotesk-latin-800-italic.woff) format('woff');
}

/* schibsted-grotesk-latin-900-italic */
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url(./files/schibsted-grotesk-latin-900-italic.woff2) format('woff2'), url(./files/schibsted-grotesk-latin-900-italic.woff) format('woff');
}