/* schibsted-grotesk-latin-700-normal */
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/schibsted-grotesk-latin-700-normal.woff2) format('woff2'), url(./files/schibsted-grotesk-latin-700-normal.woff) format('woff');
}