/* schibsted-grotesk-latin-ext-400-normal */
@font-face {
  font-family: 'Schibsted Grotesk';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/schibsted-grotesk-latin-ext-400-normal.woff2) format('woff2'), url(./files/schibsted-grotesk-latin-ext-400-normal.woff) format('woff');
}