/* adlam-display-adlam-400-normal */
@font-face {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/adlam-display-adlam-400-normal.woff2) format('woff2'), url(./files/adlam-display-adlam-400-normal.woff) format('woff');
}