/* ibm-plex-sans-cyrillic-100-italic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: url(./files/ibm-plex-sans-cyrillic-100-italic.woff2) format('woff2'), url(./files/ibm-plex-sans-cyrillic-100-italic.woff) format('woff');
}

/* ibm-plex-sans-cyrillic-200-italic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url(./files/ibm-plex-sans-cyrillic-200-italic.woff2) format('woff2'), url(./files/ibm-plex-sans-cyrillic-200-italic.woff) format('woff');
}

/* ibm-plex-sans-cyrillic-300-italic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/ibm-plex-sans-cyrillic-300-italic.woff2) format('woff2'), url(./files/ibm-plex-sans-cyrillic-300-italic.woff) format('woff');
}

/* ibm-plex-sans-cyrillic-400-italic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/ibm-plex-sans-cyrillic-400-italic.woff2) format('woff2'), url(./files/ibm-plex-sans-cyrillic-400-italic.woff) format('woff');
}

/* ibm-plex-sans-cyrillic-500-italic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/ibm-plex-sans-cyrillic-500-italic.woff2) format('woff2'), url(./files/ibm-plex-sans-cyrillic-500-italic.woff) format('woff');
}

/* ibm-plex-sans-cyrillic-600-italic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/ibm-plex-sans-cyrillic-600-italic.woff2) format('woff2'), url(./files/ibm-plex-sans-cyrillic-600-italic.woff) format('woff');
}

/* ibm-plex-sans-cyrillic-700-italic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/ibm-plex-sans-cyrillic-700-italic.woff2) format('woff2'), url(./files/ibm-plex-sans-cyrillic-700-italic.woff) format('woff');
}