/* pontano-sans-latin-300-normal */
@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 300;
  src: url(./files/pontano-sans-latin-300-normal.woff2) format('woff2'), url(./files/pontano-sans-latin-300-normal.woff) format('woff');
}