/* edu-au-vic-wa-nt-dots-latin-400-normal */
@font-face {
  font-family: 'Edu AU VIC WA NT Dots';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/edu-au-vic-wa-nt-dots-latin-400-normal.woff2) format('woff2'), url(./files/edu-au-vic-wa-nt-dots-latin-400-normal.woff) format('woff');
}

/* edu-au-vic-wa-nt-dots-latin-500-normal */
@font-face {
  font-family: 'Edu AU VIC WA NT Dots';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/edu-au-vic-wa-nt-dots-latin-500-normal.woff2) format('woff2'), url(./files/edu-au-vic-wa-nt-dots-latin-500-normal.woff) format('woff');
}

/* edu-au-vic-wa-nt-dots-latin-600-normal */
@font-face {
  font-family: 'Edu AU VIC WA NT Dots';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/edu-au-vic-wa-nt-dots-latin-600-normal.woff2) format('woff2'), url(./files/edu-au-vic-wa-nt-dots-latin-600-normal.woff) format('woff');
}

/* edu-au-vic-wa-nt-dots-latin-700-normal */
@font-face {
  font-family: 'Edu AU VIC WA NT Dots';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/edu-au-vic-wa-nt-dots-latin-700-normal.woff2) format('woff2'), url(./files/edu-au-vic-wa-nt-dots-latin-700-normal.woff) format('woff');
}