/* karla-tamil-inclined-tamil-400-normal */
@font-face {
  font-family: 'Karla Tamil Inclined';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/karla-tamil-inclined-tamil-400-normal.woff2) format('woff2'), url(./files/karla-tamil-inclined-tamil-400-normal.woff) format('woff');
}

/* karla-tamil-inclined-tamil-700-normal */
@font-face {
  font-family: 'Karla Tamil Inclined';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/karla-tamil-inclined-tamil-700-normal.woff2) format('woff2'), url(./files/karla-tamil-inclined-tamil-700-normal.woff) format('woff');
}