/* ysabeau-office-cyrillic-100-italic */
@font-face {
  font-family: 'Ysabeau Office';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: url(./files/ysabeau-office-cyrillic-100-italic.woff2) format('woff2'), url(./files/ysabeau-office-cyrillic-100-italic.woff) format('woff');
}