/* ysabeau-office-latin-ext-400-normal */
@font-face {
  font-family: 'Ysabeau Office';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/ysabeau-office-latin-ext-400-normal.woff2) format('woff2'), url(./files/ysabeau-office-latin-ext-400-normal.woff) format('woff');
}