/* ysabeau-office-vietnamese-500-normal */
@font-face {
  font-family: 'Ysabeau Office';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/ysabeau-office-vietnamese-500-normal.woff2) format('woff2'), url(./files/ysabeau-office-vietnamese-500-normal.woff) format('woff');
}