/* tasa-orbiter-latin-400-normal */
@font-face {
  font-family: 'TASA Orbiter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/tasa-orbiter-latin-400-normal.woff2) format('woff2'), url(./files/tasa-orbiter-latin-400-normal.woff) format('woff');
}