$id: 'redaction-50';
$family: 'Redaction 50';
$category: serif;
$subsets: (latin);
$weights: (400, 700);
$styles: (normal, italic);
$axes: null;
$defaults: (
	subset: latin,
	weight: 400,
	style: normal,
	axis: null,
);
$unicode: null;

$metadata: (
  id: $id,
  family: $family,
  category: $category,
  subsets: $subsets,
  weights: $weights,
  styles: $styles,
  axes: $axes,
  defaults: $defaults,
  unicode: $unicode,
) !default;