/* scoutie-sans-latin-ext-600-normal */
@font-face {
  font-family: 'Scoutie Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/scoutie-sans-latin-ext-600-normal.woff2) format('woff2'), url(./files/scoutie-sans-latin-ext-600-normal.woff) format('woff');
}