/* playpen-sans-emoji-100-normal */
@font-face {
  font-family: 'Playpen Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(./files/playpen-sans-emoji-100-normal.woff2) format('woff2'), url(./files/playpen-sans-emoji-100-normal.woff) format('woff');
}

/* playpen-sans-emoji-200-normal */
@font-face {
  font-family: 'Playpen Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(./files/playpen-sans-emoji-200-normal.woff2) format('woff2'), url(./files/playpen-sans-emoji-200-normal.woff) format('woff');
}

/* playpen-sans-emoji-300-normal */
@font-face {
  font-family: 'Playpen Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./files/playpen-sans-emoji-300-normal.woff2) format('woff2'), url(./files/playpen-sans-emoji-300-normal.woff) format('woff');
}

/* playpen-sans-emoji-400-normal */
@font-face {
  font-family: 'Playpen Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/playpen-sans-emoji-400-normal.woff2) format('woff2'), url(./files/playpen-sans-emoji-400-normal.woff) format('woff');
}

/* playpen-sans-emoji-500-normal */
@font-face {
  font-family: 'Playpen Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/playpen-sans-emoji-500-normal.woff2) format('woff2'), url(./files/playpen-sans-emoji-500-normal.woff) format('woff');
}

/* playpen-sans-emoji-600-normal */
@font-face {
  font-family: 'Playpen Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/playpen-sans-emoji-600-normal.woff2) format('woff2'), url(./files/playpen-sans-emoji-600-normal.woff) format('woff');
}

/* playpen-sans-emoji-700-normal */
@font-face {
  font-family: 'Playpen Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/playpen-sans-emoji-700-normal.woff2) format('woff2'), url(./files/playpen-sans-emoji-700-normal.woff) format('woff');
}

/* playpen-sans-emoji-800-normal */
@font-face {
  font-family: 'Playpen Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(./files/playpen-sans-emoji-800-normal.woff2) format('woff2'), url(./files/playpen-sans-emoji-800-normal.woff) format('woff');
}