/* playpen-sans-latin-100-normal */
@font-face {
  font-family: 'Playpen Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(./files/playpen-sans-latin-100-normal.woff2) format('woff2'), url(./files/playpen-sans-latin-100-normal.woff) format('woff');
}