/* akt-greek-100-normal */
@font-face {
  font-family: 'Akt';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(./files/akt-greek-100-normal.woff2) format('woff2'), url(./files/akt-greek-100-normal.woff) format('woff');
}