/* wdxl-lubrifont-sc-symbols2-400-normal */
@font-face {
  font-family: 'WDXL Lubrifont SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/wdxl-lubrifont-sc-symbols2-400-normal.woff2) format('woff2'), url(./files/wdxl-lubrifont-sc-symbols2-400-normal.woff) format('woff');
}