/* bbh-sans-hegarty-latin-400-normal */
@font-face {
  font-family: 'BBH Sans Hegarty';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/bbh-sans-hegarty-latin-400-normal.woff2) format('woff2'), url(./files/bbh-sans-hegarty-latin-400-normal.woff) format('woff');
}