/* chiron-goround-tc-latin-ext-200-normal */
@font-face {
  font-family: 'Chiron GoRound TC';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(./files/chiron-goround-tc-latin-ext-200-normal.woff2) format('woff2'), url(./files/chiron-goround-tc-latin-ext-200-normal.woff) format('woff');
}