/* playwrite-de-la-guides-latin-400-normal */
@font-face {
  font-family: 'Playwrite DE LA Guides';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/playwrite-de-la-guides-latin-400-normal.woff2) format('woff2'), url(./files/playwrite-de-la-guides-latin-400-normal.woff) format('woff');
}