$id: 'noto-sans-manichaean' !default;
$family: 'Noto Sans Manichaean' !default;
$category: sans-serif !default;
$subsets: (manichaean) !default;
$weights: (400) !default;
$styles: (normal) !default;
$axes: null !default;
$defaults: (
  subset: manichaean,
  weight: 400,
  style: normal,
  axis: null,
) !default;
$unicode: (
  manichaean: (U+0640,U+200C-200D,U+25CC,U+FE00,U+10AC0-10AFF),
  latin-ext: (U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF),
  latin: (U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD),
) !default;
