/* kablammo-emoji-400-normal */
@font-face {
  font-family: 'Kablammo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/kablammo-emoji-400-normal.woff2) format('woff2'), url(./files/kablammo-emoji-400-normal.woff) format('woff');
}