$metadata: (
  id: 'league-mono',
  family: 'League Mono',
  category: monospace,
  subsets: (latin),
  weights: (100, 200, 300, 400, 500, 600, 700, 800),
  styles: (normal),
  axes: null,
  defaults: (
    subset: latin,
    weight: 400,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;