$id: 'pretendard';
$family: 'Pretendard';
$category: sans-serif;
$subsets: (latin);
$weights: (100, 200, 300, 400, 500, 600, 700, 800, 900);
$styles: (normal);
$axes: null;
$defaults: (
	subset: latin,
	weight: 400,
	style: normal,
	axis: null,
);
$unicode: null;

$metadata: (
  id: $id,
  family: $family,
  category: $category,
  subsets: $subsets,
  weights: $weights,
  styles: $styles,
  axes: $axes,
  defaults: $defaults,
  unicode: $unicode,
) !default;