/* ysabeau-infant-cyrillic-400-normal */
@font-face {
  font-family: 'Ysabeau Infant';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/ysabeau-infant-cyrillic-400-normal.woff2) format('woff2'), url(./files/ysabeau-infant-cyrillic-400-normal.woff) format('woff');
}