/* ysabeau-infant-greek-200-italic */
@font-face {
  font-family: 'Ysabeau Infant';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url(./files/ysabeau-infant-greek-200-italic.woff2) format('woff2'), url(./files/ysabeau-infant-greek-200-italic.woff) format('woff');
}