/* ysabeau-infant-latin-100-normal */
@font-face {
  font-family: 'Ysabeau Infant';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(./files/ysabeau-infant-latin-100-normal.woff2) format('woff2'), url(./files/ysabeau-infant-latin-100-normal.woff) format('woff');
}