/* ysabeau-infant-vietnamese-700-normal */
@font-face {
  font-family: 'Ysabeau Infant';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/ysabeau-infant-vietnamese-700-normal.woff2) format('woff2'), url(./files/ysabeau-infant-vietnamese-700-normal.woff) format('woff');
}