@font-face {
  font-family: 'Noto Serif Kannada';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(./files/noto-serif-kannada-kannada-200-normal.woff2) format(woff2), url(./files/noto-serif-kannada-kannada-200-normal.woff) format(woff);
  unicode-range: U+0951-0952,U+0964-0965,U+0C80-0CF3,U+1CD0,U+1CD2-1CD3,U+1CDA,U+1CF2,U+1CF4,U+200C-200D,U+20B9,U+25CC,U+A830-A835;
}