@font-face {
  font-family: 'Chiron Hei HK';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/chiron-hei-hk-chinese-traditional-700-italic.woff2) format(woff2), url(./files/chiron-hei-hk-chinese-traditional-700-italic.woff) format(woff);
  unicode-range: U+3000-303F,U+3105-312F,U+4E00-9FFF;
}