/* chiron-hei-hk-cyrillic-ext-600-italic */
@font-face {
  font-family: 'Chiron Hei HK';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/chiron-hei-hk-cyrillic-ext-600-italic.woff2) format('woff2'), url(./files/chiron-hei-hk-cyrillic-ext-600-italic.woff) format('woff');
}