/* chiron-hei-hk-greek-ext-300-italic */
@font-face {
  font-family: 'Chiron Hei HK';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/chiron-hei-hk-greek-ext-300-italic.woff2) format('woff2'), url(./files/chiron-hei-hk-greek-ext-300-italic.woff) format('woff');
}