@font-face {
  font-family: 'Noto Sans Avestan';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/noto-sans-avestan-avestan-400-normal.woff2) format(woff2), url(./files/noto-sans-avestan-avestan-400-normal.woff) format(woff);
  unicode-range: U+200C-200D,U+2E30-2E31,U+10B00-10B3F;
}