/* andada-pro-latin-ext-400-italic */
@font-face {
  font-family: 'Andada Pro';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 400;
  src: url(./files/andada-pro-latin-ext-400-italic.woff2) format('woff2'), url(./files/andada-pro-latin-ext-400-italic.woff) format('woff');
}

/* andada-pro-latin-ext-500-italic */
@font-face {
  font-family: 'Andada Pro';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 500;
  src: url(./files/andada-pro-latin-ext-500-italic.woff2) format('woff2'), url(./files/andada-pro-latin-ext-500-italic.woff) format('woff');
}

/* andada-pro-latin-ext-600-italic */
@font-face {
  font-family: 'Andada Pro';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 600;
  src: url(./files/andada-pro-latin-ext-600-italic.woff2) format('woff2'), url(./files/andada-pro-latin-ext-600-italic.woff) format('woff');
}

/* andada-pro-latin-ext-700-italic */
@font-face {
  font-family: 'Andada Pro';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 700;
  src: url(./files/andada-pro-latin-ext-700-italic.woff2) format('woff2'), url(./files/andada-pro-latin-ext-700-italic.woff) format('woff');
}

/* andada-pro-latin-ext-800-italic */
@font-face {
  font-family: 'Andada Pro';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 800;
  src: url(./files/andada-pro-latin-ext-800-italic.woff2) format('woff2'), url(./files/andada-pro-latin-ext-800-italic.woff) format('woff');
}