/* alegreya-sans-cyrillic-500-italic */
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 500;
  src: url(./files/alegreya-sans-cyrillic-500-italic.woff2) format('woff2'), url(./files/alegreya-sans-cyrillic-500-italic.woff) format('woff');
}