$metadata: (
  id: 'pitagon-sans',
  family: 'Pitagon Sans',
  category: sans-serif,
  subsets: (latin),
  weights: (400, 500, 600, 700, 800, 900),
  styles: (normal),
  axes: null,
  defaults: (
    subset: latin,
    weight: 400,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;