/* rasa-latin-300-italic */
@font-face {
  font-family: 'Rasa';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/rasa-latin-300-italic.woff2) format('woff2'), url(./files/rasa-latin-300-italic.woff) format('woff');
}

/* rasa-latin-400-italic */
@font-face {
  font-family: 'Rasa';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/rasa-latin-400-italic.woff2) format('woff2'), url(./files/rasa-latin-400-italic.woff) format('woff');
}

/* rasa-latin-500-italic */
@font-face {
  font-family: 'Rasa';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/rasa-latin-500-italic.woff2) format('woff2'), url(./files/rasa-latin-500-italic.woff) format('woff');
}

/* rasa-latin-600-italic */
@font-face {
  font-family: 'Rasa';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/rasa-latin-600-italic.woff2) format('woff2'), url(./files/rasa-latin-600-italic.woff) format('woff');
}

/* rasa-latin-700-italic */
@font-face {
  font-family: 'Rasa';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/rasa-latin-700-italic.woff2) format('woff2'), url(./files/rasa-latin-700-italic.woff) format('woff');
}