/* noto-emoji-latin-wght-normal */
@font-face {
  font-family: 'Noto Emoji Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url(./files/noto-emoji-latin-wght-normal.woff2) format('woff2-variations');
}