/* comic-neue-latin-300-italic */
@font-face {
  font-family: 'Comic Neue';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/comic-neue-latin-300-italic.woff2) format('woff2'), url(./files/comic-neue-latin-300-italic.woff) format('woff');
}

/* comic-neue-latin-400-italic */
@font-face {
  font-family: 'Comic Neue';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/comic-neue-latin-400-italic.woff2) format('woff2'), url(./files/comic-neue-latin-400-italic.woff) format('woff');
}

/* comic-neue-latin-700-italic */
@font-face {
  font-family: 'Comic Neue';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/comic-neue-latin-700-italic.woff2) format('woff2'), url(./files/comic-neue-latin-700-italic.woff) format('woff');
}