/* redaction-50-latin-400-normal */
@font-face {
  font-family: 'Redaction 50';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/redaction-50-latin-400-normal.woff2) format('woff2'), url(./files/redaction-50-latin-400-normal.woff) format('woff');
}

/* redaction-50-latin-700-normal */
@font-face {
  font-family: 'Redaction 50';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/redaction-50-latin-700-normal.woff2) format('woff2'), url(./files/redaction-50-latin-700-normal.woff) format('woff');
}