/* redaction-10-latin-700-normal */
@font-face {
  font-family: 'Redaction 10';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/redaction-10-latin-700-normal.woff2) format('woff2'), url(./files/redaction-10-latin-700-normal.woff) format('woff');
}