/* commit-mono-latin-625-italic */
@font-face {
  font-family: 'Commit Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 625;
  src: url(./files/commit-mono-latin-625-italic.woff2) format('woff2'), url(./files/commit-mono-latin-625-italic.woff) format('woff');
}