/* finlandica-headline-cyrillic-ext-800-normal */
@font-face {
  font-family: 'Finlandica Headline';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(./files/finlandica-headline-cyrillic-ext-800-normal.woff2) format('woff2'), url(./files/finlandica-headline-cyrillic-ext-800-normal.woff) format('woff');
}