/* finlandica-headline-latin-ext-100-normal */
@font-face {
  font-family: 'Finlandica Headline';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(./files/finlandica-headline-latin-ext-100-normal.woff2) format('woff2'), url(./files/finlandica-headline-latin-ext-100-normal.woff) format('woff');
}