@font-face {
  font-family: 'Noto Sans Duployan';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/noto-sans-duployan-duployan-700-normal.woff2) format(woff2), url(./files/noto-sans-duployan-duployan-700-normal.woff) format(woff);
  unicode-range: U+0307-0308,U+030A,U+0323-0324,U+200C-200D,U+25CC,U+2E3C,U+1BC00-1BCA3;
}