@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/tillana-devanagari-400-normal.woff2) format(woff2), url(./files/tillana-devanagari-400-normal.woff) format(woff);
  unicode-range: U+0900-097F,U+1CD0-1CF9,U+200C-200D,U+20A8,U+20B9,U+20F0,U+25CC,U+A830-A839,U+A8E0-A8FF,U+11B00-11B09;
}