/* fusion-pixel-12px-proportional-jp-latin-400-normal */
@font-face {
  font-family: 'Fusion Pixel 12px Proportional JP';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/fusion-pixel-12px-proportional-jp-latin-400-normal.woff2) format('woff2'), url(./files/fusion-pixel-12px-proportional-jp-latin-400-normal.woff) format('woff');
}
