$metadata: (
  id: 'blackout-two-am',
  family: 'Blackout Two AM',
  category: display,
  subsets: (latin),
  weights: (400),
  styles: (normal),
  axes: null,
  defaults: (
    subset: latin,
    weight: 400,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;