/* atkinson-hyperlegible-next-latin-600-italic */
@font-face {
  font-family: 'atkinson-hyperlegible-next';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/atkinson-hyperlegible-next-latin-600-italic.woff2) format('woff2'), url(./files/atkinson-hyperlegible-next-latin-600-italic.woff) format('woff');
}