/* atkinson-hyperlegible-next-latin-300-normal */
@font-face {
  font-family: 'atkinson-hyperlegible-next';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./files/atkinson-hyperlegible-next-latin-300-normal.woff2) format('woff2'), url(./files/atkinson-hyperlegible-next-latin-300-normal.woff) format('woff');
}