@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/google-sans-georgian-600-italic.woff2) format(woff2), url(./files/google-sans-georgian-600-italic.woff) format(woff);
  unicode-range: U+0589,U+10A0-10FF,U+1C90-1CBA,U+1CBD-1CBF,U+205A,U+2D00-2D2F,U+2E31;
}