@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/google-sans-telugu-400-italic.woff2) format(woff2), url(./files/google-sans-telugu-400-italic.woff) format(woff);
  unicode-range: U+0951-0952,U+0964-0965,U+0C00-0C7F,U+1CDA,U+1CF2,U+200C-200D,U+25CC;
}

@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/google-sans-telugu-500-italic.woff2) format(woff2), url(./files/google-sans-telugu-500-italic.woff) format(woff);
  unicode-range: U+0951-0952,U+0964-0965,U+0C00-0C7F,U+1CDA,U+1CF2,U+200C-200D,U+25CC;
}

@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/google-sans-telugu-600-italic.woff2) format(woff2), url(./files/google-sans-telugu-600-italic.woff) format(woff);
  unicode-range: U+0951-0952,U+0964-0965,U+0C00-0C7F,U+1CDA,U+1CF2,U+200C-200D,U+25CC;
}

@font-face {
  font-family: 'Google Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/google-sans-telugu-700-italic.woff2) format(woff2), url(./files/google-sans-telugu-700-italic.woff) format(woff);
  unicode-range: U+0951-0952,U+0964-0965,U+0C00-0C7F,U+1CDA,U+1CF2,U+200C-200D,U+25CC;
}