/* libre-baskerville-latin-ext-500-normal */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/libre-baskerville-latin-ext-500-normal.woff2) format('woff2'), url(./files/libre-baskerville-latin-ext-500-normal.woff) format('woff');
}