/* libre-baskerville-latin-500-italic */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/libre-baskerville-latin-500-italic.woff2) format('woff2'), url(./files/libre-baskerville-latin-500-italic.woff) format('woff');
}