/* zilla-slab-latin-300-italic */
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 300;
  src: url(./files/zilla-slab-latin-300-italic.woff2) format('woff2'), url(./files/zilla-slab-latin-300-italic.woff) format('woff');
}

/* zilla-slab-latin-400-italic */
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 400;
  src: url(./files/zilla-slab-latin-400-italic.woff2) format('woff2'), url(./files/zilla-slab-latin-400-italic.woff) format('woff');
}

/* zilla-slab-latin-500-italic */
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 500;
  src: url(./files/zilla-slab-latin-500-italic.woff2) format('woff2'), url(./files/zilla-slab-latin-500-italic.woff) format('woff');
}

/* zilla-slab-latin-600-italic */
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 600;
  src: url(./files/zilla-slab-latin-600-italic.woff2) format('woff2'), url(./files/zilla-slab-latin-600-italic.woff) format('woff');
}

/* zilla-slab-latin-700-italic */
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 700;
  src: url(./files/zilla-slab-latin-700-italic.woff2) format('woff2'), url(./files/zilla-slab-latin-700-italic.woff) format('woff');
}