@font-face {
  font-family: 'Gemunu Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/gemunu-libre-sinhala-700-normal.woff2) format(woff2), url(./files/gemunu-libre-sinhala-700-normal.woff) format(woff);
  unicode-range: U+0964-0965,U+0D81-0DF4,U+1CF2,U+200C-200D,U+25CC,U+111E1-111F4;
}