$id: 'dejavu-math' !default;
$family: 'DejaVu Math' !default;
$category: display !default;
$subsets: (latin) !default;
$weights: (400) !default;
$styles: (normal) !default;
$axes: null !default;
$defaults: (
  subset: latin,
  weight: 400,
  style: normal,
  axis: null,
) !default;
$unicode: null !default;
