/* alegreya-vietnamese-400-italic */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/alegreya-vietnamese-400-italic.woff2) format('woff2'), url(./files/alegreya-vietnamese-400-italic.woff) format('woff');
}

/* alegreya-vietnamese-500-italic */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/alegreya-vietnamese-500-italic.woff2) format('woff2'), url(./files/alegreya-vietnamese-500-italic.woff) format('woff');
}

/* alegreya-vietnamese-600-italic */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/alegreya-vietnamese-600-italic.woff2) format('woff2'), url(./files/alegreya-vietnamese-600-italic.woff) format('woff');
}

/* alegreya-vietnamese-700-italic */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/alegreya-vietnamese-700-italic.woff2) format('woff2'), url(./files/alegreya-vietnamese-700-italic.woff) format('woff');
}

/* alegreya-vietnamese-800-italic */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url(./files/alegreya-vietnamese-800-italic.woff2) format('woff2'), url(./files/alegreya-vietnamese-800-italic.woff) format('woff');
}

/* alegreya-vietnamese-900-italic */
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url(./files/alegreya-vietnamese-900-italic.woff2) format('woff2'), url(./files/alegreya-vietnamese-900-italic.woff) format('woff');
}