/* hibur-mono-ethiopic-400-normal */
@font-face {
  font-family: 'Hibur Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/hibur-mono-ethiopic-400-normal.woff2) format('woff2'), url(./files/hibur-mono-ethiopic-400-normal.woff) format('woff');
}