/* roboto-condensed-greek-300-italic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/roboto-condensed-greek-300-italic.woff2) format('woff2'), url(./files/roboto-condensed-greek-300-italic.woff) format('woff');
}

/* roboto-condensed-greek-400-italic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/roboto-condensed-greek-400-italic.woff2) format('woff2'), url(./files/roboto-condensed-greek-400-italic.woff) format('woff');
}

/* roboto-condensed-greek-700-italic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/roboto-condensed-greek-700-italic.woff2) format('woff2'), url(./files/roboto-condensed-greek-700-italic.woff) format('woff');
}