$id: 'chunk-five' !default;
$family: 'Chunk Five' !default;
$category: serif !default;
$subsets: (latin) !default;
$weights: (800) !default;
$styles: (normal) !default;
$axes: null !default;
$defaults: (
  subset: latin,
  weight: 800,
  style: normal,
  axis: null,
) !default;
$unicode: null !default;
