/* kumbh-sans-math-600-normal */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 600;
  src: url(./files/kumbh-sans-math-600-normal.woff2) format('woff2'), url(./files/kumbh-sans-math-600-normal.woff) format('woff');
}