/* dm-sans-latin-300-italic */
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/dm-sans-latin-300-italic.woff2) format('woff2'), url(./files/dm-sans-latin-300-italic.woff) format('woff');
}