/* winky-rough-latin-700-italic */
@font-face {
  font-family: 'Winky Rough';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/winky-rough-latin-700-italic.woff2) format('woff2'), url(./files/winky-rough-latin-700-italic.woff) format('woff');
}