/* national-park-latin-ext-800-normal */
@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(./files/national-park-latin-ext-800-normal.woff2) format('woff2'), url(./files/national-park-latin-ext-800-normal.woff) format('woff');
}