/* national-park-vietnamese-400-normal */
@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/national-park-vietnamese-400-normal.woff2) format('woff2'), url(./files/national-park-vietnamese-400-normal.woff) format('woff');
}