/* national-park-vietnamese-200-normal */
@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(./files/national-park-vietnamese-200-normal.woff2) format('woff2'), url(./files/national-park-vietnamese-200-normal.woff) format('woff');
}

/* national-park-vietnamese-300-normal */
@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./files/national-park-vietnamese-300-normal.woff2) format('woff2'), url(./files/national-park-vietnamese-300-normal.woff) format('woff');
}

/* national-park-vietnamese-400-normal */
@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/national-park-vietnamese-400-normal.woff2) format('woff2'), url(./files/national-park-vietnamese-400-normal.woff) format('woff');
}

/* national-park-vietnamese-500-normal */
@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/national-park-vietnamese-500-normal.woff2) format('woff2'), url(./files/national-park-vietnamese-500-normal.woff) format('woff');
}

/* national-park-vietnamese-600-normal */
@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/national-park-vietnamese-600-normal.woff2) format('woff2'), url(./files/national-park-vietnamese-600-normal.woff) format('woff');
}

/* national-park-vietnamese-700-normal */
@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/national-park-vietnamese-700-normal.woff2) format('woff2'), url(./files/national-park-vietnamese-700-normal.woff) format('woff');
}

/* national-park-vietnamese-800-normal */
@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(./files/national-park-vietnamese-800-normal.woff2) format('woff2'), url(./files/national-park-vietnamese-800-normal.woff) format('woff');
}