/* national-park-vietnamese-700-normal */
@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/national-park-vietnamese-700-normal.woff2) format('woff2'), url(./files/national-park-vietnamese-700-normal.woff) format('woff');
}