/* fusion-pixel-8px-proportional-ja-latin-400-normal */
@font-face {
  font-family: 'Fusion Pixel 8px Proportional ja';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/fusion-pixel-8px-proportional-ja-latin-400-normal.woff2) format('woff2'), url(./files/fusion-pixel-8px-proportional-ja-latin-400-normal.woff) format('woff');
}