/* iosevka-charon-mono-armenian-500-normal */
@font-face {
  font-family: 'Iosevka Charon Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/iosevka-charon-mono-armenian-500-normal.woff2) format('woff2'), url(./files/iosevka-charon-mono-armenian-500-normal.woff) format('woff');
}