$id: 'lxgw-wenkai' !default;
$family: 'LXGW WenKai' !default;
$category: sans-serif !default;
$subsets: (latin) !default;
$weights: (300, 500, 700) !default;
$styles: (normal) !default;
$axes: null !default;
$defaults: (
  subset: latin,
  weight: 300,
  style: normal,
  axis: null,
) !default;
$unicode: null !default;
