/* sarabun-vietnamese-100-italic */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: url(./files/sarabun-vietnamese-100-italic.woff2) format('woff2'), url(./files/sarabun-vietnamese-100-italic.woff) format('woff');
}

/* sarabun-vietnamese-200-italic */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url(./files/sarabun-vietnamese-200-italic.woff2) format('woff2'), url(./files/sarabun-vietnamese-200-italic.woff) format('woff');
}

/* sarabun-vietnamese-300-italic */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/sarabun-vietnamese-300-italic.woff2) format('woff2'), url(./files/sarabun-vietnamese-300-italic.woff) format('woff');
}

/* sarabun-vietnamese-400-italic */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/sarabun-vietnamese-400-italic.woff2) format('woff2'), url(./files/sarabun-vietnamese-400-italic.woff) format('woff');
}

/* sarabun-vietnamese-500-italic */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/sarabun-vietnamese-500-italic.woff2) format('woff2'), url(./files/sarabun-vietnamese-500-italic.woff) format('woff');
}

/* sarabun-vietnamese-600-italic */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/sarabun-vietnamese-600-italic.woff2) format('woff2'), url(./files/sarabun-vietnamese-600-italic.woff) format('woff');
}

/* sarabun-vietnamese-700-italic */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/sarabun-vietnamese-700-italic.woff2) format('woff2'), url(./files/sarabun-vietnamese-700-italic.woff) format('woff');
}

/* sarabun-vietnamese-800-italic */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url(./files/sarabun-vietnamese-800-italic.woff2) format('woff2'), url(./files/sarabun-vietnamese-800-italic.woff) format('woff');
}