/* material-symbols-outlined-latin-standard-normal */
@font-face {
  font-family: 'Material Symbols Outlined Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
  src: url(./files/material-symbols-outlined-latin-standard-normal.woff2) format('woff2-variations');
}