$id: 'noto-emoji';
$family: 'Noto Emoji';
$category: sans-serif;
$subsets: (emoji);
$weights: (300, 400, 500, 600, 700);
$styles: (normal);
$axes: (
  wght: (
    default: 400,
    min: 300,
    max: 700,
    step: 1,
  ),
);
$defaults: (
	subset: emoji,
	weight: 400,
	style: normal,
	axis: wght,
);
$unicode: (
    emoji: (U+1f6d8,U+1fa8a,U+1fa8e,U+1fac8,U+1facd,U+1faea,U+1faef),
  );

$metadata: (
  id: $id,
  family: $family,
  category: $category,
  subsets: $subsets,
  weights: $weights,
  styles: $styles,
  axes: $axes,
  defaults: $defaults,
  unicode: $unicode,
) !default;