/* agbalumo-vietnamese-400-normal */
@font-face {
  font-family: 'Agbalumo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./files/agbalumo-vietnamese-400-normal.woff2) format('woff2'), url(./files/agbalumo-vietnamese-400-normal.woff) format('woff');
}