/* cascadia-mono-symbols2-700-italic */
@font-face {
  font-family: 'Cascadia Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/cascadia-mono-symbols2-700-italic.woff2) format('woff2'), url(./files/cascadia-mono-symbols2-700-italic.woff) format('woff');
}