@font-face {
  font-family: 'Noto Sans Tamil';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/noto-sans-tamil-tamil-700-normal.woff2) format(woff2), url(./files/noto-sans-tamil-tamil-700-normal.woff) format(woff);
  unicode-range: U+0964-0965,U+0B82-0BFA,U+200C-200D,U+20B9,U+25CC;
}