/* pt-serif-latin-400-italic */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 400;
  src: url(./files/pt-serif-latin-400-italic.woff2) format('woff2'), url(./files/pt-serif-latin-400-italic.woff) format('woff');
}

/* pt-serif-latin-700-italic */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-display: var(--fontsource-display, swap);
  font-weight: 700;
  src: url(./files/pt-serif-latin-700-italic.woff2) format('woff2'), url(./files/pt-serif-latin-700-italic.woff) format('woff');
}