/* aleo-latin-100-italic */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: url(./files/aleo-latin-100-italic.woff2) format('woff2'), url(./files/aleo-latin-100-italic.woff) format('woff');
}

/* aleo-latin-200-italic */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url(./files/aleo-latin-200-italic.woff2) format('woff2'), url(./files/aleo-latin-200-italic.woff) format('woff');
}

/* aleo-latin-300-italic */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(./files/aleo-latin-300-italic.woff2) format('woff2'), url(./files/aleo-latin-300-italic.woff) format('woff');
}

/* aleo-latin-400-italic */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(./files/aleo-latin-400-italic.woff2) format('woff2'), url(./files/aleo-latin-400-italic.woff) format('woff');
}

/* aleo-latin-500-italic */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(./files/aleo-latin-500-italic.woff2) format('woff2'), url(./files/aleo-latin-500-italic.woff) format('woff');
}

/* aleo-latin-600-italic */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(./files/aleo-latin-600-italic.woff2) format('woff2'), url(./files/aleo-latin-600-italic.woff) format('woff');
}

/* aleo-latin-700-italic */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(./files/aleo-latin-700-italic.woff2) format('woff2'), url(./files/aleo-latin-700-italic.woff) format('woff');
}

/* aleo-latin-800-italic */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url(./files/aleo-latin-800-italic.woff2) format('woff2'), url(./files/aleo-latin-800-italic.woff) format('woff');
}

/* aleo-latin-900-italic */
@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url(./files/aleo-latin-900-italic.woff2) format('woff2'), url(./files/aleo-latin-900-italic.woff) format('woff');
}