$metadata: (
  id: 'syne-italic',
  family: 'Syne Italic',
  category: sans-serif,
  subsets: (latin),
  weights: (400),
  styles: (italic),
  axes: null,
  defaults: (
    subset: latin,
    weight: 400,
    style: normal,
    axis: null,
  ),
  unicode: null
) !default;