@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(./files/mukta-mahee-gurmukhi-800-normal.woff2) format(woff2), url(./files/mukta-mahee-gurmukhi-800-normal.woff) format(woff);
  unicode-range: U+0951-0952,U+0964-0965,U+0A01-0A76,U+200C-200D,U+20B9,U+25CC,U+262C,U+A830-A839;
}