/* ysabeau-latin-100-normal */
@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 100;
  src: url(./files/ysabeau-latin-100-normal.woff2) format('woff2'), url(./files/ysabeau-latin-100-normal.woff) format('woff');
}

/* ysabeau-latin-200-normal */
@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 200;
  src: url(./files/ysabeau-latin-200-normal.woff2) format('woff2'), url(./files/ysabeau-latin-200-normal.woff) format('woff');
}

/* ysabeau-latin-300-normal */
@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 300;
  src: url(./files/ysabeau-latin-300-normal.woff2) format('woff2'), url(./files/ysabeau-latin-300-normal.woff) format('woff');
}

/* ysabeau-latin-400-normal */
@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 400;
  src: url(./files/ysabeau-latin-400-normal.woff2) format('woff2'), url(./files/ysabeau-latin-400-normal.woff) format('woff');
}

/* ysabeau-latin-500-normal */
@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 500;
  src: url(./files/ysabeau-latin-500-normal.woff2) format('woff2'), url(./files/ysabeau-latin-500-normal.woff) format('woff');
}

/* ysabeau-latin-600-normal */
@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 600;
  src: url(./files/ysabeau-latin-600-normal.woff2) format('woff2'), url(./files/ysabeau-latin-600-normal.woff) format('woff');
}

/* ysabeau-latin-700-normal */
@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 700;
  src: url(./files/ysabeau-latin-700-normal.woff2) format('woff2'), url(./files/ysabeau-latin-700-normal.woff) format('woff');
}

/* ysabeau-latin-800-normal */
@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 800;
  src: url(./files/ysabeau-latin-800-normal.woff2) format('woff2'), url(./files/ysabeau-latin-800-normal.woff) format('woff');
}

/* ysabeau-latin-900-normal */
@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 900;
  src: url(./files/ysabeau-latin-900-normal.woff2) format('woff2'), url(./files/ysabeau-latin-900-normal.woff) format('woff');
}