/* ysabeau-latin-900-normal */
@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-display: var(--fontsource-display, swap);
  font-weight: 900;
  src: url(./files/ysabeau-latin-900-normal.woff2) format('woff2'), url(./files/ysabeau-latin-900-normal.woff) format('woff');
}