/* ysabeau-latin-ext-600-normal */
@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./files/ysabeau-latin-ext-600-normal.woff2) format('woff2'), url(./files/ysabeau-latin-ext-600-normal.woff) format('woff');
}