/* ysabeau-vietnamese-800-normal */
@font-face {
  font-family: 'Ysabeau';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(./files/ysabeau-vietnamese-800-normal.woff2) format('woff2'), url(./files/ysabeau-vietnamese-800-normal.woff) format('woff');
}