name: Build and Release [Force Rebuild No Deploy] [Manual]

on: [workflow_dispatch]

permissions:
  id-token: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install
        run: bun install

      - name: Puppeteer Setup
        run: bunx @puppeteer/browsers install chrome@stable

      - name: Fetch API # Calls Google Font Metadata to fetch the latest data from Google's Developer API
        run: bunx gfm generate $GOOGLE_API_KEY
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}

      - name: Parse API
        run: bunx gfm parse --force

      - name: Build fonts # Build all updated Google Fonts in repository
        run: bunx fontsource build --force

      - name: Generate fontlist
        run: bun run fontlist

      - name: Save GFM metadata
        run: bun run gfm-metadata

      - name: Save Fontsource metadata
        run: bun run metadata

      - name: Stage, commit and push files
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_user_name: "fontsource-bot"
          commit_user_email: "83556432+fontsource-bot@users.noreply.github.com"
          commit_author: "fontsource-bot <83556432+fontsource-bot@users.noreply.github.com>"
          commit_message: "chore(build): update packages [Manual] [Force] "
        continue-on-error: true
