/* parkinsans-latin-ext-500-normal */
@font-face {
  font-family: 'Parkinsans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/parkinsans-latin-ext-500-normal.woff2) format('woff2'), url(./files/parkinsans-latin-ext-500-normal.woff) format('woff');
}