@font-face {
  font-family: 'Noto Sans Hanifi Rohingya';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./files/noto-sans-hanifi-rohingya-hanifi-rohingya-700-normal.woff2) format(woff2), url(./files/noto-sans-hanifi-rohingya-hanifi-rohingya-700-normal.woff) format(woff);
  unicode-range: U+060C,U+061B,U+061F,U+0640,U+0660,U+06D4,U+200C-200D,U+25CC,U+10D00-10D3F;
}