@font-face {
  font-family: 'Noto Sans Tai Tham';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./files/noto-sans-tai-tham-tai-tham-500-normal.woff2) format(woff2), url(./files/noto-sans-tai-tham-tai-tham-500-normal.woff) format(woff);
  unicode-range: U+1A20-1AAF,U+200C-200D,U+2219,U+25CC;
}